.DS_Store
Thumbs.db
db.json
*.log
node_modules/
public/
.deploy*/

.vscode
source/data/enemies-vanilla-multi.json
source/data/enemies-vanilla-opm.json
source/data/players.json
source/data/quests.json
source/data/records.json
source/data/teamz.json
source/data/weapons-vanilla.json

source/data/players/*.json
