<div class="ui segments">
    <div class="ui inverted segment">
        <h1>Gamecube Information</h1>
        <div class="ui accordion">
            <div class="title">
                <i class="inverted dropdown icon"></i>
                <span class="ui inverted grey text">DNS List</span>
            </div>
            <div class="content">
                <ul>
                    <li>
                        <b>Schthack:</b>
                        <span class="ui inverted red text">144.217.87.48</span>
                        <span class="ui inverted gray small text">Offline</span>
                        | <span class="ui inverted red text">149.56.167.128</span>
                    </li>
                    <li>
                        <b>Sylverant:</b>
                        <span class="ui inverted red text">138.197.20.130</span>
                    </li>
                    <li>
                        <b>Kazuha:</b>
                        <span class="ui inverted red text">27.134.247.108</span>
                    </li>
                    <li>
                        <b>Haven:</b>
                        <span class="ui inverted red text">154.8.152.87</span>
                    </li>
                    <li>
                        <b>Unseen:</b>
                        <span class="ui inverted red text">172.245.5.200</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="ui accordion">
            <div class="title">
                <i class="inverted dropdown icon"></i>
                <span class="ui inverted grey text">Player List (Credit Ninesalone, Matichu, Armand)</span>
            </div>
            <div class="content">
                <table class="ui inverted celled striped table">
                    <thead>
                        <tr>
                            <th>Discord</th>
                            <th>Name</th>
                            <th>Class</th>
                            <th>Section ID</th>
                            <th>Level</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td data-label="Discord ID">Matichu#3914</td>
                            <td data-label="Name">Matichu</td>
                            <td data-label="Class">RAmar</td>
                            <td data-label="Section ID" class="whitill">Whitill</td>
                            <td data-label="Level">177</td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">Luma</td>
                            <td data-label="Class">FOnewearl</td>
                            <td data-label="Section ID" class="whitill">Whitill</td>
                            <td data-label="Level">134</td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">Clarice</td>
                            <td data-label="Class">HUcaseal</td>
                            <td data-label="Section ID" class="greenill">Greenill</font></td>
                            <td data-label="Level">105</td>
                        </tr>
                        <tr>
                            <td data-label="Discord ID">Blueburstmeleemarthman#6241</td>
                            <td data-label="Name">S2J</td>
                            <td data-label="Class">HUcast</td>
                            <td data-label="Section ID" class="yellowboze">Yellowboze</font></td>
                            <td data-label="Level">200</td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">Spectre</td>
                            <td data-label="Class">HUcaseal</td>
                            <td data-label="Section ID" class="skyly">Skyly</font></td>
                            <td data-label="Level">185</td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">Dark Rain</td>
                            <td data-label="Class">RAcast</td>
                            <td data-label="Section ID"></td>
                            <td data-label="Level">180</td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">HAX$</td>
                            <td data-label="Class">FOmar</td>
                            <td data-label="Section ID"></td>
                            <td data-label="Level">180</td>
                        </tr>
                        <tr>
                            <td data-label="Discord ID">pheonixmog#6263</td>
                            <td data-label="Name">Armand</td>
                            <td data-label="Class">FOmar</td>
                            <td data-label="Section ID" class="pinkal">Pinkal</font></td>
                            <td data-label="Level">200</td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">Sithlord</td>
                            <td data-label="Class">HUcaseal</td>
                            <td data-label="Section ID" class="greenill">Greenill</font></td>
                            <td data-label="Level">200</td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">Beatboxer</td>
                            <td data-label="Class">RAcast</td>
                            <td data-label="Section ID" class="purplenum">Purplenum</font></td>
                            <td data-label="Level">200</td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">Crossbow</td>
                            <td data-label="Class">RAmarl</td>
                            <td data-label="Section ID" class="viridia">Viridia</font></td>
                            <td data-label="Level">200</td>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">Anguish</td>
                            <td data-label="Class">HUcast</td>
                            <td data-label="Section ID" class="whitill">Whitill</td>
                            <td data-label="Level">200</td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">Defiance</td>
                            <td data-label="Class">HUnewearl</td>
                            <td data-label="Section ID" class="blueful">Blueful</font></td>
                            <td data-label="Level">200</td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">Alexelemental</td>
                            <td data-label="Class">RAmar</td>
                            <td data-label="Section ID" class="redria">Redria</font></td>
                            <td data-label="Level">200</td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">@$$13/@$+34!</td>
                            <td data-label="Class">FOnewm</td>
                            <td data-label="Section ID" class="skyly">Skyly</font></td>
                            <td data-label="Level">200</td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">Velocity</td>
                            <td data-label="Class">RAcaseal</td>
                            <td data-label="Section ID" class="oran">Oran</font></td>
                            <td data-label="Level">194</td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">Insanatios</td>
                            <td data-label="Class">FOnewearl</td>
                            <td data-label="Section ID" class="redria">Redria</font></td>
                            <td data-label="Level">174</td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">Stalactite</td>
                            <td data-label="Class">HUmar</td>
                            <td data-label="Section ID" class="yellowboze">Yellowboze</font></td>
                            <td data-label="Level">154</td>
                        </tr>
                        <tr>
                            <td data-label="Discord ID">Wilson#0001</td>
                            <td data-label="Name">DEMENTOR</td>
                            <td data-label="Class">HUcast</td>
                            <td data-label="Section ID" class="redria">Redria</font></td>
                            <td data-label="Level">200</td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">Tarnished</td>
                            <td data-label="Class">RAmarl</td>
                            <td data-label="Section ID"></td>
                            <td data-label="Level">200</td>
                        </tr>
                            <td data-label="Discord ID">Mayonel#9359</td>
                            <td data-label="Name">Lionel</td>
                            <td data-label="Class">RAmar</td>
                            <td data-label="Section ID" class="greenill">Greenill</font></td>
                            <td data-label="Level">179</td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">Takuya</td>
                            <td data-label="Class">RAcast</td>
                            <td data-label="Section ID" class="blueful">Blueful</font></td>
                            <td data-label="Level">171</td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">Fuya</td>
                            <td data-label="Class">HUcast</td>
                            <td data-label="Section ID" class="pinkal">Pinkal</font></td>
                            <td data-label="Level">156</td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">Ply</td>
                            <td data-label="Class">FOnewm</td>
                            <td data-label="Section ID" class="viridia">Viridia</td>
                            <td data-label="Level">137</td>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">Reyko</td>
                            <td data-label="Class">RAmarl</td>
                            <td data-label="Section ID" class="skyly">Skyly</font></td>
                            <td data-label="Level">136</td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">Milky</td>
                            <td data-label="Class">RAcaseal</td>
                            <td data-label="Section ID" class="yellowboze">Yellowboze</font></td>
                            <td data-label="Level">126</td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">Opaque</td>
                            <td data-label="Class">HUcaseal</td>
                            <td data-label="Section ID" class="whitill">Whitill</td>
                            <td data-label="Level">84</td>
                        </tr>
                        <tr>
                            <td data-label="Discord ID">Kayak#7435</td>
                            <td data-label="Name">Jarrett</td>
                            <td data-label="Class">HUmar</td>
                            <td data-label="Section ID" class="skyly">Skyly</font></td>
                            <td data-label="Level">196</td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">Banan@ Boat</td>
                            <td data-label="Class">HUcast</td>
                            <td data-label="Section ID" class="yellowboze">Yellowboze</font></td>
                            <td data-label="Level">196</td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">Katey</td>
                            <td data-label="Class">FOmarl</td>
                            <td data-label="Section ID" class="viridia">Viridia</font></td>
                            <td data-label="Level">196</td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">Kat</td>
                            <td data-label="Class">RAmarl</td>
                            <td data-label="Section ID" class="yellowboze">Yellowboze</font></td>
                            <td data-label="Level">200</td>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">Kate</td>
                            <td data-label="Class">FOnewearl</td>
                            <td data-label="Section ID" class="whitill">Whitill</td>
                            <td data-label="Level">200</td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">Kayak</td>
                            <td data-label="Class">HUcast</td>
                            <td data-label="Section ID" class="oran">Oran</font></td>
                            <td data-label="Level">200</td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">Submarine</td>
                            <td data-label="Class">RAcast</td>
                            <td data-label="Section ID" class="purplenum">Purplenum</font></td>
                            <td data-label="Level">200</td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">Magic Boat</td>
                            <td data-label="Class">FOmar</td>
                            <td data-label="Section ID" class="blueful">Blueful</font></td>
                            <td data-label="Level">200</td>
                        </tr>
                        <tr>
                            <td data-label="Discord ID">BlueWorld#4593</td>
                            <td data-label="Name">Blue World</td>
                            <td data-label="Class">RAmarl</td>
                            <td data-label="Section ID" class="purplenum">Purplenum</font></td>
                            <td data-label="Level">200</td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">MasterChiefC</td>
                            <td data-label="Class">HUcast</td>
                            <td data-label="Section ID" class="redria">Redria</font></td>
                            <td data-label="Level">197</td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">Del World</td>
                            <td data-label="Class">FOnewm</td>
                            <td data-label="Section ID" class="whitill">Whitill</td>
                            <td data-label="Level">106</td>
                        </tr>
                        <tr>
                            <td data-label="Discord ID">GOD COMPLEX#6421</td>
                            <td data-label="Name">God Complex</td>
                            <td data-label="Class">HUcast</td>
                            <td data-label="Section ID" class="redria">Redria</font></td>
                            <td data-label="Level">200</td>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">Sabin</td>
                            <td data-label="Class">RAmar</td>
                            <td data-label="Section ID" class="pinkal">Pinkal</font></td>
                            <td data-label="Level">84</td>
                        </tr>
                        <tr>
                            <td data-label="Discord ID">DGC (Zander/Rasek)#9409</td>
                            <td data-label="Name">Zander Auron</td>
                            <td data-label="Class">HUmar</td>
                            <td data-label="Section ID" class="greenill">Greenill</font></td>
                            <td data-label="Level">120</td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">Rasek II</td>
                            <td data-label="Class">FOmar</td>
                            <td data-label="Section ID" class="purplenum">Purplenum</font></td>
                            <td data-label="Level">85</td>
                        </tr>
                        <tr>
                            <td data-label="Discord ID">Zeonic#1131</td>
                            <td data-label="Name">Sayla</td>
                            <td data-label="Class">RAmarl</td>
                            <td data-label="Section ID" class="redria">Redria</font></td>
                            <td data-label="Level">118</td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">IronMan</td>
                            <td data-label="Class">RAcast</td>
                            <td data-label="Section ID" class="purplenum">Purplenum</font></td>
                            <td data-label="Level">90</td>
                        </tr>
                        <tr>
                            <td data-label="Discord ID">Koob#5082</td>
                            <td data-label="Name">Skye</td>
                            <td data-label="Class">FOmarl</td>
                            <td data-label="Section ID" class="skyly">Skyly</font></td>
                            <td data-label="Level">144</td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">Mattias</td>
                            <td data-label="Class">HUcast</td>
                            <td data-label="Section ID" class="blueful">Blueful</font></td>
                            <td data-label="Level">141</td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">xKoobx</td>
                            <td data-label="Class">FOnewearl</td>
                            <td data-label="Section ID" class="pinkal">Pinkal</font></td>
                            <td data-label="Level">116</td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">Koob*</td>
                            <td data-label="Class">HUcaseal</td>
                            <td data-label="Section ID" class="oran">Oran</font></td>
                            <td data-label="Level">126</td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">Koobex</td>
                            <td data-label="Class">RAcaseal</td>
                            <td data-label="Section ID" class="redria">Redria</font></td>
                            <td data-label="Level">124</td>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">Shadow</td>
                            <td data-label="Class">HUmar</td>
                            <td data-label="Section ID" class="purplenum">Purplenum</font></td>
                            <td data-label="Level">148</td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">Shadow</td>
                            <td data-label="Class">RAmar</td>
                            <td data-label="Section ID" class="purplenum">Purplenum</font></td>
                            <td data-label="Level">125</td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">Sadow</td>
                            <td data-label="Class">FOmar</td>
                            <td data-label="Section ID" class="viridia">Viridia</font></td>
                            <td data-label="Level">131</td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">Koobex+</td>
                            <td data-label="Class">HUnewearl</td>
                            <td data-label="Section ID" class="whitill">Whitill</td>
                            <td data-label="Level">120</td>
                        </tr>
                        <tr>
                            <td data-label="Discord ID">Lutz#9264</td>
                            <td data-label="Name">Lutzetta</td>
                            <td data-label="Class">FOnewearl</td>
                            <td data-label="Section ID" class="pinkal">Pinkal</font></td>
                            <td data-label="Level"></td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">Siren386</td>
                            <td data-label="Class">HUcast</td>
                            <td data-label="Section ID" class="redria">Redria</font></td>
                            <td data-label="Level"></td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">Lutz</td>
                            <td data-label="Class">FOmar</td>
                            <td data-label="Section ID"></td>
                            <td data-label="Level"></td>
                        </tr>
                        <tr>
                            <td data-label="Discord ID">Black Magic#7302</td>
                            <td data-label="Name">Torak</td>
                            <td data-label="Class">HUmar</td>
                            <td data-label="Section ID" class="pinkal">Pinkal</font></td>
                            <td data-label="Level">194</td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">Astarell</td>
                            <td data-label="Class">HUnewearl</td>
                            <td data-label="Section ID" class="redria">Redria</font></td>
                            <td data-label="Level">138</td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">Karnak</td>
                            <td data-label="Class">HUcast</td>
                            <td data-label="Section ID" class="viridia">Viridia</font></td>
                            <td data-label="Level">130</td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">Anetheron</td>
                            <td data-label="Class">RAmar</td>
                            <td data-label="Section ID" class="skyly">Skyly</font></td>
                            <td data-label="Level">200</td>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">Chiaro</td>
                            <td data-label="Class">RAmarl</td>
                            <td data-label="Section ID" class="yellowboze">Yellowboze</font></td>
                            <td data-label="Level">118</td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">Brick</td>
                            <td data-label="Class">RAcast</td>
                            <td data-label="Section ID" class="greenill">Greenill</font></td>
                            <td data-label="Level">88</td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">Ashlotte</td>
                            <td data-label="Class">RAcaseal</td>
                            <td data-label="Section ID" class="blueful">Blueful</font></td>
                            <td data-label="Level">90</td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">Corax</td>
                            <td data-label="Class">FOmar</td>
                            <td data-label="Section ID" class="oran">Oran</font></td>
                            <td data-label="Level">121</td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">Raven</td>
                            <td data-label="Class">FOmarl</td>
                            <td data-label="Section ID" class="yellowboze">Yellowboze</font></td>
                            <td data-label="Level">118</td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">Tian</td>
                            <td data-label="Class">FOnewearl</td>
                            <td data-label="Section ID" class="whitill">Whitill</td>
                            <td data-label="Level">200</td>
                        </tr>
                        <tr>
                            <td data-label="Discord ID">KPG#8691</td>
                            <td data-label="Name">KPG</td>
                            <td data-label="Class">RAmarl</td>
                            <td data-label="Section ID" class="redria">Redria</font></td>
                            <td data-label="Level">200</td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">Jaqr</td>
                            <td data-label="Class">HUcaseal</td>
                            <td data-label="Section ID" class="yellowboze">Yellowboze</font></td>
                            <td data-label="Level">166</td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">Q</td>
                            <td data-label="Class">RAcast</td>
                            <td data-label="Section ID" class="greenill">Greenill</font></td>
                            <td data-label="Level">181</td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">Samurai Sumo</td>
                            <td data-label="Class">FOmar</td>
                            <td data-label="Section ID" class="skyly">Skyly</font></td>
                            <td data-label="Level">200</td>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">Warde</td>
                            <td data-label="Class">HUnewearl</td>
                            <td data-label="Section ID" class="whitill">Whitill</td>
                            <td data-label="Level">176</td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">GREX-UNIT-22</td>
                            <td data-label="Class">HUcast</td>
                            <td data-label="Section ID" class="viridia">Viridia</font></td>
                            <td data-label="Level">160</td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">Master Bates</td>
                            <td data-label="Class">RAmar</td>
                            <td data-label="Section ID" class="oran">Oran</font></td>
                            <td data-label="Level">170</td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">GENERAL PAIN</td>
                            <td data-label="Class">RAmar</td>
                            <td data-label="Section ID" class="yellowboze">Yellowboze</font></td>
                            <td data-label="Level">150</td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">weaksauce</td>
                            <td data-label="Class">HUmar</td>
                            <td data-label="Section ID" class="blueful">Blueful</font></td>
                            <td data-label="Level">137</td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">Snipey</td>
                            <td data-label="Class">RAcaseal</td>
                            <td data-label="Section ID" class="skyly">Skyly</font></td>
                            <td data-label="Level">163</td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">KPG</td>
                            <td data-label="Class">RAmarl</td>
                            <td data-label="Section ID" class="redria">Redria</font></td>
                            <td data-label="Level">161</td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">Jess</td>
                            <td data-label="Class">FOnewearl</td>
                            <td data-label="Section ID" class="pinkal">Pinkal</font></td>
                            <td data-label="Level">145</td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">TINY</td>
                            <td data-label="Class">RAmar</td>
                            <td data-label="Section ID" class="purplenum">Purplenum</font></td>
                            <td data-label="Level">151</td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">MR. Pancake</td>
                            <td data-label="Class">RAmar</td>
                            <td data-label="Section ID" class="viridia">Viridia</font></td>
                            <td data-label="Level">114</td>
                        </tr>
                        <tr>
                            <td data-label="Discord ID">doctor_oran#7717</td>
                            <td data-label="Name">Viollete</td>
                            <td data-label="Class">RAmarl</td>
                            <td data-label="Section ID" class="purplenum">Purplenum</font></td>
                            <td data-label="Level">200</td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">Miss Mattie</td>
                            <td data-label="Class">RAcaseal</td>
                            <td data-label="Section ID" class="redria">Redria</font></td>
                            <td data-label="Level">200</td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">Gerard</td>
                            <td data-label="Class">FOnewm</td>
                            <td data-label="Section ID" class="oran">Oran</font></td>
                            <td data-label="Level">200</td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">Korneleus</td>
                            <td data-label="Class">HUcast</td>
                            <td data-label="Section ID" class="skyly">Skyly</font></td>
                            <td data-label="Level">200</td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">Chester</td>
                            <td data-label="Class">HUmar</td>
                            <td data-label="Section ID" class="yellowboze">Yellowboze</font></td>
                            <td data-label="Level">170</td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">Juggernaut</td>
                            <td data-label="Class">RAcast</td>
                            <td data-label="Section ID" class="pinkal">Pinkal</font></td>
                            <td data-label="Level">170</td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">Berri</td>
                            <td data-label="Class">FOmarl</td>
                            <td data-label="Section ID" class="viridia">Viridia</font></td>
                            <td data-label="Level">170</td>
                        </tr>
                        <tr>
                            <td data-label="Discord ID">jake#5165</td>
                            <td data-label="Name">Odrade</td>
                            <td data-label="Class">FOmarl</td>
                            <td data-label="Section ID"></td>
                            <td data-label="Level"></td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">Asphodel</td>
                            <td data-label="Class">RAmarl</td>
                            <td data-label="Section ID"></td>
                            <td data-label="Level"></td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">ChitSkadwell</td>
                            <td data-label="Class">HUnewearl</td>
                            <td data-label="Section ID"></td>
                            <td data-label="Level"></td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name>">Zynerba</td>
                            <td data-label="Class">HUcast</td>
                            <td data-label="Section ID"></td>
                            <td data-label="Level"></td>
                        </tr>
                        <tr>
                            <td data-label="Discord ID">Ninesalone#0854</td>
                            <td data-label="Name">Ninesalone 1</td>
                            <td data-label="Class">FOnewm</td>
                            <td data-label="Section ID" class="redria">Redria</font></td>
                            <td data-label="Level">143</td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">Ninesalone 2</td>
                            <td data-label="Class">RAmarl</td>
                            <td data-label="Section ID" class="yellowboze">Yellowboze</font></td>
                            <td data-label="Level">191</td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">Ninesalone 3</td>
                            <td data-label="Class">HUcast</td>
                            <td data-label="Section ID" class="whitill">Whitill</td>
                            <td data-label="Level">138</td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">Ninesalone 4</td>
                            <td data-label="Class">HUnewearl</td>
                            <td data-label="Section ID" class="viridia">Viridia</font></td>
                            <td data-label="Level">133</td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">Ninesalone 5</td>
                            <td data-label="Class">RAmar</td>
                            <td data-label="Section ID" class="greenill">Greenill</font></td>
                            <td data-label="Level">106</td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">Ninesalone 6</td>
                            <td data-label="Class">HUmar</td>
                            <td data-label="Section ID" class="skyly">Skyly</font></td>
                            <td data-label="Level">102</td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">Ninesalone 7</td>
                            <td data-label="Class">FOnewearl</td>
                            <td data-label="Section ID" class="blueful">Blueful</font></td>
                            <td data-label="Level">102</td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">Ninesalone 8</td>
                            <td data-label="Class">RAcast</td>
                            <td data-label="Section ID" class="purplenum">Purplenum</font></td>
                            <td data-label="Level">102</td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">Ninesalone 9</td>
                            <td data-label="Class">FOmar</td>
                            <td data-label="Section ID" class="pinkal">Pinkal</font></td>
                            <td data-label="Level">106</td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">Ninesalone 10</td>
                            <td data-label="Class">RAcaseal</td>
                            <td data-label="Section ID" class="oran">Oran</font></td>
                            <td data-label="Level">104</td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">Ninesalone 11</td>
                            <td data-label="Class">HUcaseal</td>
                            <td data-label="Section ID" class="purplenum">Purplenum</font></td>
                            <td data-label="Level">84</td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">Ninesalone 12</td>
                            <td data-label="Class">FOmarl</td>
                            <td data-label="Section ID" class="pinkal">Pinkal</font></td>
                            <td data-label="Level">80</td>
                        </tr>
                        <tr>
                            <td data-label="Discord ID">BulletToothTony#3792</td>
                            <td data-label="Name">thekingpin</td>
                            <td data-label="Class">FOnewm</td>
                            <td data-label="Section ID" class="pinkal">Pinkal</font></td>
                            <td data-label="Level">140</td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">Tony</td>
                            <td data-label="Class">HUcast</td>
                            <td data-label="Section ID" class="redria">Redria</font></td>
                            <td data-label="Level">130</td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">Qkami</td>
                            <td data-label="Class">RAmar</td>
                            <td data-label="Section ID" class="greenill">Greenill</font></td>
                            <td data-label="Level">115</td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">Arianna</td>
                            <td data-label="Class">HUnewearl</td>
                            <td data-label="Section ID" class="skyly">Skyly</font></td>
                            <td data-label="Level">110</td>
                        </tr>
                        <tr>
                            <td data-label="Discord ID">Sirk#9653</td>
                            <td data-label="Name">Kalamity Ttf</td>
                            <td data-label="Class"></td>
                            <td data-label="Section ID"></td>
                            <td data-label="Level">200</td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">Sirk</td>
                            <td data-label="Class"></td>
                            <td data-label="Section ID"></td>
                            <td data-label="Level">200</td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">Sephriese</td>
                            <td data-label="Class"></td>
                            <td data-label="Section ID"></td>
                            <td data-label="Level">200</td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">Nobeless</td>
                            <td data-label="Class"></td>
                            <td data-label="Section ID"></td>
                            <td data-label="Level">200</td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">No Resta Plz</td>
                            <td data-label="Class"></td>
                            <td data-label="Section ID"></td>
                            <td data-label="Level">167</td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">Kristoff</td>
                            <td data-label="Class"></td>
                            <td data-label="Section ID"></td>
                            <td data-label="Level">130</td>
                        </tr>
                        <tr>
                            <td data-label="Discord ID">But Thou Must#7766</td>
                            <td data-label="Name">Edrick</td>
                            <td data-label="Class">HUmar</td>
                            <td data-label="Section ID" class="yellowboze">Yellowboze</font></td>
                            <td data-label="Level">87</td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">Bianca</td>
                            <td data-label="Class">RAmarl</td>
                            <td data-label="Section ID" class="purplenum">Purplenum</font></td>
                            <td data-label="Level">95</td>
                        </tr>
                        <tr>
                            <td data-label="Discord ID">ドリキャス(Ludmila)#8118</td>
                            <td data-label="Name">Ludmilla</td>
                            <td data-label="Class">FOmarl</td>
                            <td data-label="Section ID" class="skyly">Skyly</font></td>
                            <td data-label="Level"></td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">Dream@ Cast</td>
                            <td data-label="Class">RAcast</td>
                            <td data-label="Section ID"></td>
                            <td data-label="Level"></td>
                        </tr>
                        <tr>
                            <td data-label="Discord ID">somekindofmagic#4146</td>
                            <td data-label="Name">Matilda</td>
                            <td data-label="Class">FOnewearl</td>
                            <td data-label="Section ID" class="viridia">Viridia</font></td>
                            <td data-label="Level">187</td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">Corinne</td>
                            <td data-label="Class">RAcast</td>
                            <td data-label="Section ID" class="yellowboze">Yellowboze</font></td>
                            <td data-label="Level">105</td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">Daione</td>
                            <td data-label="Class">HUcast</td>
                            <td data-label="Section ID" class="skyly">Skyly</font></td>
                            <td data-label="Level">147</td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">Mayleen</td>
                            <td data-label="Class">FOmarl</td>
                            <td data-label="Section ID" class="pinkal">Pinkal</font></td>
                            <td data-label="Level">136</td>
                        </tr>
                        <tr>
                            <td data-label="Discord ID">Fossil#3183</td>
                            <td data-label="Name">Austin</td>
                            <td data-label="Class">RAmar</td>
                            <td data-label="Section ID" class="yellowboze">Yellowboze</font></td>
                            <td data-label="Level">200</td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">Oracion</td>
                            <td data-label="Class">HUmar</td>
                            <td data-label="Section ID" class="oran">Oran</font></td>
                            <td data-label="Level">122</td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">Fossil</td>
                            <td data-label="Class">FOmar</td>
                            <td data-label="Section ID" class="redria">Redria</font></td>
                            <td data-label="Level">131</td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">Austina</td>
                            <td data-label="Class">FOnewearl</td>
                            <td data-label="Section ID" class="whitill">Whitill</td>
                            <td data-label="Level">173</td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">Zepheros</td>
                            <td data-label="Class">HUcast</td>
                            <td data-label="Section ID" class="skyly">Skyly</font></td>
                            <td data-label="Level">139</td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">Austin v.808</td>
                            <td data-label="Class">RAcast</td>
                            <td data-label="Section ID" class="purplenum">Purplenum</font></td>
                            <td data-label="Level">139</td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">Austin</td>
                            <td data-label="Class">FOnewm</td>
                            <td data-label="Section ID" class="viridia">Viridia</font></td>
                            <td data-label="Level">101</td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">Fossil v3</td>
                            <td data-label="Class">RAmar</td>
                            <td data-label="Section ID" class="greenill">Greenill</font></td>
                            <td data-label="Level">120</td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">Zakela</td>
                            <td data-label="Class">HUcaseal</td>
                            <td data-label="Section ID" class="redria">Redria</font></td>
                            <td data-label="Level">94</td>
                        </tr>
                            <td data-label="Discord ID">Zan#8832</td>
                            <td data-label="Name">Xan</td>
                            <td data-label="Class">FOmar</td>
                            <td data-label="Section ID" class="pinkal">Pinkal</font></td>
                            <td data-label="Level">156</td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">Danath</td>
                            <td data-label="Class">HUmar</td>
                            <td data-label="Section ID" class="skyly">Skyly</font></td>
                            <td data-label="Level">133</td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">Argol</td>
                            <td data-label="Class">RAmar</td>
                            <td data-label="Section ID" class="redria">Redria</font></td>
                            <td data-label="Level">131</td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">Archon</td>
                            <td data-label="Class">FOmar</td>
                            <td data-label="Section ID" class="blueful">Blueful</font></td>
                            <td data-label="Level">91</td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">Zephyr</td>
                            <td data-label="Class">HUnewearl</td>
                            <td data-label="Section ID" class="purplenum">Purplenum</font></td>
                            <td data-label="Level">93</td>
                        </tr>
                        <tr>
                            <td data-label="Discord ID">Deilmos#8275</td>
                            <td data-label="Name">AKU</td>
                            <td data-label="Class">HUmar</td>
                            <td data-label="Section ID" class="pinkal">Pinkal</font></td>
                            <td data-label="Level">90</td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">Melvil</td>
                            <td data-label="Class">FOnewearl</td>
                            <td data-label="Section ID" class="oran">Oran</font></td>
                            <td data-label="Level">90</td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">Vaya</td>
                            <td data-label="Class">RAmarl</td>
                            <td data-label="Section ID" class="greenill">Greenill</font></td>
                            <td data-label="Level">90</td>
                        </tr>
                        <tr>
                            <td data-label="Discord ID">Silent_John#8749</td>
                            <td data-label="Name">SWORDMASTER</td>
                            <td data-label="Class">HUmar</td>
                            <td data-label="Section ID" class="whitill">Whitill</td>
                            <td data-label="Level">200</td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">PHANTOMGHOST</td>
                            <td data-label="Class">HUcaseal</td>
                            <td data-label="Section ID" class="purplenum">Purplenum</font></td>
                            <td data-label="Level">200</td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">DEMON LORD</td>
                            <td data-label="Class">HUnewearl</td>
                            <td data-label="Section ID" class="yellowboze">Yellowboze</font></td>
                            <td data-label="Level">200</td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">DRAGONSLAYER</td>
                            <td data-label="Class">HUcast</td>
                            <td data-label="Section ID" class="oran">Oran</font></td>
                            <td data-label="Level">200</td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">BELZEBUB</td>
                            <td data-label="Class">RAmar</td>
                            <td data-label="Section ID" class="oran">Oran</font></td>
                            <td data-label="Level">200</td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">HELLMACHINE</td>
                            <td data-label="Class">RAcast</td>
                            <td data-label="Section ID" class="purplenum">Purplenum</font></td>
                            <td data-label="Level">200</td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">HELLSEEKER</td>
                            <td data-label="Class">RAmarl</td>
                            <td data-label="Section ID" class="viridia">Viridia</font></td>
                            <td data-label="Level">200</td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">FIRE SOLDIER</td>
                            <td data-label="Class">RAcaseal</td>
                            <td data-label="Section ID" class="redria">Redria</font></td>
                            <td data-label="Level">191</td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">AZMIDISKE</td>
                            <td data-label="Class">FOmar</td>
                            <td data-label="Section ID" class="blueful">Blueful</font></td>
                            <td data-label="Level">200</td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">MAGIC WIZARD</td>
                            <td data-label="Class">FOnewm</td>
                            <td data-label="Section ID" class="viridia">Viridia</font></td>
                            <td data-label="Level">200</td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">SEAL MASTER</td>
                            <td data-label="Class">FOnewearl</td>
                            <td data-label="Section ID" class="pinkal">Pinkal</font></td>
                            <td data-label="Level">200</td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">BETEIGUEZE</td>
                            <td data-label="Class">FOmarl</td>
                            <td data-label="Section ID" class="pinkal">Pinkal</font></td>
                            <td data-label="Level">191</td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">BIG L3BOWSKI</td>
                            <td data-label="Class">RAmar</td>
                            <td data-label="Section ID" class="skyly">Skyly</font></td>
                            <td data-label="Level">180</td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">HELL-H.RPLC</td>
                            <td data-label="Class">RAmar</td>
                            <td data-label="Section ID" class="blueful">Blueful</font></td>
                            <td data-label="Level">120</td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">HELLSTRIKER</td>
                            <td data-label="Class">RAmarl</td>
                            <td data-label="Section ID" class="greenill">Greenill</font></td>
                            <td data-label="Level">120</td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">HELLHUNTER</td>
                            <td data-label="Class">RAmar</td>
                            <td data-label="Section ID" class="blueful">Blueful</font></td>
                            <td data-label="Level">120</td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">#JOHNSENS</td>
                            <td data-label="Class">HUnewearl</td>
                            <td data-label="Section ID" class="greenill">Greenill</font></td>
                            <td data-label="Level">130</td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">DARK HUNTER</td>
                            <td data-label="Class">HUnewearl</td>
                            <td data-label="Section ID" class="skyly">Skyly</font></td>
                            <td data-label="Level">145</td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">D34THBOX</td>
                            <td data-label="Class">HUmar</td>
                            <td data-label="Section ID" class="viridia">Viridia</font></td>
                            <td data-label="Level">125</td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">SERUGATA</td>
                            <td data-label="Class">RAmarl</td>
                            <td data-label="Section ID" class="redria">Redria</font></td>
                            <td data-label="Level">120</td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">DEMONLORD</td>
                            <td data-label="Class">RAmarl</td>
                            <td data-label="Section ID" class="yellowboze">Yellowboze</font></td>
                            <td data-label="Level">120</td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">REGENJACKE</td>
                            <td data-label="Class">RAcaseal</td>
                            <td data-label="Section ID" class="whitill">Whitill</td>
                            <td data-label="Level">90</td>
                        </tr>
                        <tr>
                            <td data-label="Discord ID">Ted#2946</td>
                            <td data-label="Name">Succube</td>
                            <td data-label="Class">FOmar;</td>
                            <td data-label="Section ID" class="purplenum">Purplenum</font></td>
                            <td data-label="Level"></td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">RedBull</td>
                            <td data-label="Class">FOmar</td>
                            <td data-label="Section ID" class="skyly">Skyly</font></td>
                            <td data-label="Level"></td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">L'ElfeMystic</td>
                            <td data-label="Class">FOnewm</td>
                            <td data-label="Section ID" class="yellowboze">Yellowboze</font></td>
                            <td data-label="Level"></td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">l'ElfeNoire</td>
                            <td data-label="Class">FOnewearl</td>
                            <td data-label="Section ID" class="redria">Redria</font></td>
                            <td data-label="Level"></td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">Zetman 00</td>
                            <td data-label="Class">HUcast</td>
                            <td data-label="Section ID" class="greenill">Greenill</font></td>
                            <td data-label="Level"></td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">Lil'Hith</td>
                            <td data-label="Class">RAmarl</td>
                            <td data-label="Section ID" class="whitill">Whitill</td>
                            <td data-label="Level"></td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">Nyct Tahlope</td>
                            <td data-label="Class">HUnewearl</td>
                            <td data-label="Section ID" class="blueful">Blueful</font></td>
                            <td data-label="Level"></td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">Kleeh Eiss</td>
                            <td data-label="Class">HUcaseal</td>
                            <td data-label="Section ID" class="pinkal">Pinkal</font></td>
                            <td data-label="Level"></td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">Needly</td>
                            <td data-label="Class">RAcaseal</td>
                            <td data-label="Section ID" class="whitill">Whitill</td>
                            <td data-label="Level"></td>
                        </tr>
                        <tr>
                            <td data-label="Discord ID">Michi / Rain#9185</td>
                            <td data-label="Name">Darkrai</td>
                            <td data-label="Class">HUcast</td>
                            <td data-label="Section ID" class="skyly">Skyly</font></td>
                            <td data-label="Level">147</td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">Huntress</td>
                            <td data-label="Class">RAmarl</td>
                            <td data-label="Section ID" class="viridia">Viridia</font></td>
                            <td data-label="Level">121</td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">Hougen</td>
                            <td data-label="Class">FOmar</td>
                            <td data-label="Section ID" class="purplenum">Purplenum</font></td>
                            <td data-label="Level">109</td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">Ayeka</td>
                            <td data-label="Class">HUcaseal</td>
                            <td data-label="Section ID" class="pinkal">Pinkal</font></td>
                            <td data-label="Level">102</td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">Ira</td>
                            <td data-label="Class">HUnewearl</td>
                            <td data-label="Section ID" class="yellowboze">Yellowboze</font></td>
                            <td data-label="Level">94</td>
                        </tr>
                        <tr>
                            <td data-label="Discord ID">Raiko#7925</td>
                            <td data-label="Name">Blacker</td>
                            <td data-label="Class">HUcast</td>
                            <td data-label="Section ID" class="redria">Redria</font></td>
                            <td data-label="Level">148</td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">Onyx</td>
                            <td data-label="Class">FOnewearl</td>
                            <td data-label="Section ID" class="skyly">Skyly</font></td>
                            <td data-label="Level">136</td>
                        </tr>
                        <tr>
                            <td data-label="Discord ID">ZANBA#9156</td>
                            <td data-label="Name">KiD Soichyro</td>
                            <td data-label="Class">HUmar</td>
                            <td data-label="Section ID" class="yellowboze">Yellowboze</font></td>
                            <td data-label="Level">185</td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">ChAoSmAgIcAn</td>
                            <td data-label="Class">FOnewm</td>
                            <td data-label="Section ID" class="purplenum">Purplenum</font></td>
                            <td data-label="Level">102</td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">Evelin</td>
                            <td data-label="Class">RAmarl</td>
                            <td data-label="Section ID" class="greenill">Greenill</font></td>
                            <td data-label="Level">83</td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">MISAKI</td>
                            <td data-label="Class">RAcaseal</td>
                            <td data-label="Section ID" class="redria">Redria</font></td>
                            <td data-label="Level">129</td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">RA</td>
                            <td data-label="Class">RAmarl</td>
                            <td data-label="Section ID" class="oran">Oran</font></td>
                            <td data-label="Level">82</td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">Myoneva</td>
                            <td data-label="Class">FOnewearl</td>
                            <td data-label="Section ID" class="pinkal">Pinkal</font></td>
                            <td data-label="Level">105</td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">Slash</td>
                            <td data-label="Class">RAmarl</td>
                            <td data-label="Section ID" class="whitill">Whitill</td>
                            <td data-label="Level">116</td>
                        </tr>
                        <tr>
                            <td data-label="Discord ID">Thing#3673</td>
                            <td data-label="Name">Manslayer</td>
                            <td data-label="Class">HUcast</td>
                            <td data-label="Section ID" class="skyly">Skyly</font></td>
                            <td data-label="Level"></td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">Aloha</td>
                            <td data-label="Class">FOnewearl</td>
                            <td data-label="Section ID" class="pinkal">Pinkal</font></td>
                            <td data-label="Level"></td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">Stephen</td>
                            <td data-label="Class">RAmar</td>
                            <td data-label="Section ID" class="oran">Oran</font></td>
                            <td data-label="Level"></td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">Stephdn</td>
                            <td data-label="Class">HUmar</td>
                            <td data-label="Section ID" class="redria">Redria</font></td>
                            <td data-label="Level"></td>
                        </tr>
                        <tr>
                            <td data-label="Discord ID">Ericthered#2105</td>
                            <td data-label="Name">Valeria</td>
                            <td data-label="Class">HUnewearl</td>
                            <td data-label="Section ID" class="redria">Redria</font></td>
                            <td data-label="Level">141</td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">Lars</td>
                            <td data-label="Class">RAcaseal</td>
                            <td data-label="Section ID" class="skyly">Skyly</font></td>
                            <td data-label="Level">128</td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">Maximus</td>
                            <td data-label="Class">HUcast</td>
                            <td data-label="Section ID" class="viridia">Viridia</font></td>
                            <td data-label="Level">136</td>
                        </tr>
                        </tr>
                        <tr>
                            <td data-label="Discord ID">T1GlistenerElf#4469</td>
                            <td data-label="Name">BlazingShoal</td>
                            <td data-label="Class">FOnewearl</td>
                            <td data-label="Section ID" class="purplenum">Purplenum</font></td>
                            <td data-label="Level">164</td>
                        </tr>
                        <tr>
                            <td data-label="Discord ID">Varista#7250</td>
                            <td data-label="Name">EFR</td>
                            <td data-label="Class">RAmar</td>
                            <td data-label="Section ID" class="greenill">Greenill</font></td>
                            <td data-label="Level">161</td>
                        </tr>
                        <tr>
                            <td data-label="blank"></td>
                            <td data-label="Name">Tallo</td>
                            <td data-label="Class">HUcast</td>
                            <td data-label="Section ID" class="yellowboze">Yellowboze</font></td>
                            <td data-label="Level">174</td>
                        </tr>
                        <tr>
                            <td data-label="Discord ID">LM-Dante#6110</td>
                            <td data-label="Name">Mokkreah</td>
                            <td data-label="Class">RAmarl</td>
                            <td data-label="Section ID" class="yellowboze">Yellowboze</font></td>
                            <td data-label="Level">146</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="ui hidden divider"></div>
</div>
