<div class="ui segments">
    <div class="ui inverted segment">
        <h1>Unseen Information</h1>
        <ul>
            <li><a href="http://unseenserver.proboards.com/">Forums</a></li>
            <li><a href="https://unseenserver.web.fc2.com/">Website</a></li>
            <li><a href="https://drive.google.com/file/d/1mIarhuCMF9Y5fF0TnQwzG6rka366UkPc/view">2014 download</a></li>
            <li><a href="https://drive.google.com/file/d/1PUpOVB8ni3Da8VT0eitfgwX8yFCOupzG/view">Vanilla download</a></li>
            <li>GC DNS: 172.245.5.200</li>
        </ul>
        <div class="ui accordion">
            <div class="title">
                <i class="inverted dropdown icon"></i>
                <span class="ui inverted green text"><b>Vanilla Commands</b></span>
            </div>
            <div class="content">
                <ul>
                    <li>
                        /matplan<br>
                        Automatically applies the <a href="https://www.pioneer2.net/community/threads/definitive-material-plan-guide.6706/">Min-Max material plans</a> and levels you to 200.
                    </li>
                    <li>
                        /gear<br>
                        Spawns TA ready gear based on your class. It is sent to your bank.
                    </li>
                    <li>
                        /tech<br>
                        Maximum level Techniques are learned.
                    </li>
                    <li>
                        /restore x,x,x<br>
                        Where x =<br>
                        mm = Monomate<br>
                        dm = Dimate<br>
                        tm = Trimate<br>
                        df = Difluid<br>
                        tf = Trifluid<br>
                        ma = Moon Atomizer<br>
                        sa = Sol Atomizer<br>
                        star = Star Atomizer<br>
                        tp = Telepipe<br>
                        tv = Trap Vision<br>
                    </li>
                    <li>
                        /lower<br>
                        Lowers your HP to 1.
                    </li>
                    <li>
                        /rq<br>
                        Leave quest at anytime.
                    </li>
                    <li>
                        /name "       "<br>
                        Changes character name. Need to change blocks to see changes.
                    </li>
                    <li>
                        /id " "<br>
                        "viridia"<br>
                        "greennill"<br>
                        "skyly"<br>
                        "bluefull"<br>
                        "purplenum"<br>
                        "pinkal"<br>
                        "redria"<br>
                        "oran"<br>
                        "yellowboze"<br>
                        "whitill"<br>
                        After selecting a Section ID you must change blocks for changes to be made.
                    </li>
                    <li>
                        /heal<br>
                        Heals HP by 2,400 (cannot use mid quest).
                    </li>
                    <li>
                        /matcount<br>
                        Displays used Pow/Mind/DFP/EVP/LCK materials.
                    </li>
                    <li>
                        /drop<br>
                        Re-enables drops. Use the command again if you want to deactivate drops.
                    </li>
                    <li>
                        /reset<br>
                        Character level set to lv.1, and all materials except HP/TP are reset (can't be used in lobby or P2).
                    </li>
                </ul>
            </div>
        </div>
        <div class="ui accordion">
            <div class="title">
                <i class="inverted dropdown icon"></i>
                <span class="ui inverted orange text"><b>2014 Commands</b></span>
            </div>
            <div class="content">
                <ul>
                    <li>
                        /matplan<br>
                        Automatically applies Reasons <a href="https://pastebin.com/3Zt1pLbP">Min-Max material plans</a>.
                    </li>
                    <li>
                        /levelup 200<br>
                        Levels you to 200. Must be used in an area.
                    </li>
                    <li>
                        /tech<br>
                        Maximum level Techniques are learned.
                    </li>
                    <li>
                        /mates<br>
                        Restores Dimate, Trimate, Moon Atomizer, and Sol Atomizer (cannot use mid quest).
                    </li>
                    <li>
                        /$<br>
                        Gives maximum meseta (cannot use mid quest).
                    </li>
                    <li>
                        /scape<br>
                        Adds one Scape Doll to inventory (cannot use mid quest).
                    </li>
                    <li>
                        /lower<br>
                        Lowers HP value by 1024 (cannot use mid quest). Get hit or lower with lavis to return sync.
                    </li>
                    <li>
                        /rq<br>
                        Leave quest at anytime. RQ twice if you're not in a quest.
                    </li>
                    <li>
                        /monomate<br>
                        Restores Monomates (cannot use mid quest).
                    </li>
                    <li>
                        /pipes<br>
                        Restores telepipes (cannot use mid quest).
                    </li>
                    <li>
                        /fluids<br>
                        Restores Difluid, and Trifluid (cannot use mid quest).
                    </li>
                    <li>
                        /heal<br>
                        Heals HP by a large amount (cannot use mid quest). HP values will desync. Get hit or lower with lavis to return sync.
                    </li>
                    <li>
                        /id " "<br>
                        "viridia"<br>
                        "greennill"<br>
                        "skyly"<br>
                        "bluefull"<br>
                        "purplenum"<br>
                        "pinkal"<br>
                        "redria"<br>
                        "oran"<br>
                        "yellowboze"<br>
                        "whitill"<br>
                        After selecting a Section ID you must change blocks for changes to be made.
                    </li>
                    <li>
                        /reset<br>
                        Character level set to lv.1, and all materials except HP/TP are reset (can't be used in lobby or P2).
                    </li>                        <li>
                        /drop<br>
                        Re-enables drops. Use the command again if you want to deactivate drops.
                    </li>
                    <li>
                        /gl<br>
                        You can see the games list remotely, but cannot join from here.
                    </li>
                    <li>
                        /sg<br>
                        Change Blocks in the Lobby remotely.
                    </li>
                </ul>
            </div>
        </div>
        <div class="ui accordion">
            <div class="title">
                <i class="inverted dropdown icon"></i>
                <b><span class="ui inverted grey text">
                    <span class="ui inverted orange text">2014</span>
                    /
                    <span class="ui inverted green text">Vanilla</span>
                    Meta Presets and Custom Items
                </span></b>
            </div>
            <div class="content">
                <ul>
                    <li>Vanilla and some custom non-enemy part weapons up to 100h and 100 attributes.</li>
                    <li>Enemy part weapons capped at 50h and 100 attributes except for Bringers Rifle @60h, S-Beats Blade @72h, and Gal Wind @66h on 2014.</li>
                    <li><a href="http://legacywiki.schtserv.com/weapon.php?weapon=rainbow">Rainbow 24h</a></li>
                    <li><a href="http://legacywiki.schtserv.com/weapon.php?weapon=empress">Empress 39h</a></li>
                    <li><a href="http://legacywiki.schtserv.com/weapon.php?weapon=inferno_claw">Inferno Claw 61h</a></li>
                    <li><a href="http://legacywiki.schtserv.com/weapon.php?weapon=doom_bringer">Doom Bringer 60h</a></li>
                    <li><a href="http://legacywiki.schtserv.com/weapon.php?weapon=sigurds_staff">Sigurd's Staff 98h</a></li>
                    <li><a href="http://legacywiki.schtserv.com/weapon.php?weapon=rikas_claw_mk2">Rika's Claw MK.2</a></li>
                    <li><a href="http://legacywiki.schtserv.com/weapon.php?weapon=texas_massacres">Texas Massacres</a></li>
                    <li><a href="http://legacywiki.schtserv.com/weapon.php?weapon=the_ace_of_spades">The Ace of Spades</a></li>
                    <li><a href="http://legacywiki.schtserv.com/weapon.php?weapon=yasminkov_3001r">Yasminkov 3001R</a></li>
                    <li><a href="http://legacywiki.schtserv.com/weapon.php?weapon=yasminkov_9001m">Yasminkov 9001M</a></li>
                    <li><a href="http://legacywiki.schtserv.com/weapon.php?weapon=yasminkov_3001r">Yasminkov 3001R</a></li>
                    <li><a href="http://legacywiki.schtserv.com/weapon.php?weapon=yasminkov_7001v">Yasminkov 7001V</a></li>
                    <li><a href="http://legacywiki.schtserv.com/armor.php?armor=schthacks_jacket">Schthack's Jacket</a></li>
                    <li><a href="http://legacywiki.schtserv.com/armor.php?armor=battlemage_cloak">Battlemages Cloak</a></li>
                    <li><a href="http://legacywiki.schtserv.com/armor.php?armor=battlemage_bracer">Battlemages Bracer</a></li>
                    <li><a href="http://legacywiki.schtserv.com/armor.php?armor=rainbow_ring">Rainbow Ring</a></li>
                    <li><a href="http://legacywiki.schtserv.com/armor.php?armor=si_merge">Si Merge</a></li>
                    <li><a href="http://legacywiki.schtserv.com/armor.php?armor=gi_merge">Gi Merge</a></li>
                    <li><a href="http://legacywiki.schtserv.com/armor.php?armor=ra_merge">Ra Merge</a></li>
                    <li><a href="http://legacywiki.schtserv.com/armor.php?armor=segaienure_merge">Segaienure Merge</a></li>
                    <li><a href="http://legacywiki.schtserv.com/armor.php?armor=megistrade_merge">Megistrade Merge</a></li>
                    <li><a href="http://legacywiki.schtserv.com/armor.php?armor=yin_yang_merge">Yin Yang Merge</a></li>
                    <li><a href="http://legacywiki.schtserv.com/unit_pages/centurion_battle.php">Centurion/Battle</a></li>
                    <li><a href="http://legacywiki.schtserv.com/unit_pages/pb_boost.php">PB/Boost</a></li>
                    <li>Vanilla <a href="http://wiki.pioneer2.net/index.php?title=Dark_bridge">Dark Bridge</a> vs. 2014 <a href="http://legacywiki.schtserv.com/weapon.php?weapon=dark_bridge">Dark Bridge</a></li>
                    <li>Vanilla <a href="http://wiki.pioneer2.net/index.php?title=Dark_Flow">Dark Flow</a> vs. 2014 <a href="http://legacywiki.schtserv.com/weapon.php?weapon=dark_flow">Dark Flow</a></li>
                    <li>Vanilla <a href="http://wiki.pioneer2.net/index.php?title=Dark_Meteor">Dark Meteor</a> vs. 2014 <a href="http://legacywiki.schtserv.com/weapon.php?weapon=dark_meteor">Dark Meteor</a></li>
                    <li>Vanilla <a href="http://wiki.pioneer2.net/index.php?title=Master_Raven">Master Raven</a> vs. 2014 <a href="http://legacywiki.schtserv.com/weapon.php?weapon=master_raven">Master Raven</a></li>
                    <li>Vanilla <a href="http://wiki.pioneer2.net/index.php?title=L%26K38_Combat">L&k38 Combat</a> vs. 2014 <a href="http://legacywiki.schtserv.com/weapon.php?weapon=lk38_combat">L&k38 Combat</a></li>
                    <li>Vanilla <a href="http://wiki.pioneer2.net/index.php?title=Iron_Faust">Iron Faust</a> vs. 2014 <a href="http://legacywiki.schtserv.com/weapon.php?weapon=iron_faust">Iron Faust</a></li>
                    <li>Vanilla <a href="http://wiki.pioneer2.net/index.php?title=Power_Maser">Power Maser</a> vs. 2014 <a href="http://legacywiki.schtserv.com/weapon.php?weapon=power_maser">Power Maser</a></li>
                    <li>Vanilla <a href="http://www.pso-world.com/items.php?op=viewarticle&artid=2205">Clio</a> vs. 2014 <a href="http://legacywiki.schtserv.com/weapon.php?weapon=clio">Clio</a></li>
                    <li>Vanilla <a href="http://wiki.pioneer2.net/index.php?title=Three_Seals">Three Seals</a> vs. 2014 <a href="http://legacywiki.schtserv.com/armor.php?armor=three_seals">Three Seals</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="ui hidden divider"></div>
</div>
