.viridia
    color: #049660
.greenill
    color: #00FF00
.skyly
    color: #00FFFF
.blueful
    color: #0080FF
.purplenum
    color: #FF00FF
.pinkal
    color: #FF8080
.redria
    color: #FF0000
.oran
    color: #FFA500
.yellowboze
    color: #FFFF00
.whitill
    color: #FFFFFF
