
// Media queries
mq-mobile = "screen and (max-width: 479px)"
mq-tablet = "screen and (min-width: 480px) and (max-width: 767px)"
mq-normal = "screen and (min-width: 768px)"

color-discord = #7289da
color-twitter = #1da1f2
color-youtube = #ff0000
color-twitch = #9147ff
color-github = #bebebe

teamz-winner-card-shadow-color = #f9a602
teamz-winner-card-shadow = 0 1px 12px 0 teamz-winner-card-shadow-color, 0 0 0 1px teamz-winner-card-shadow-color
