@import "_variables"
@import "_sectionid"

html,
body
    background: #222222 !important

body header .pc
    display: none !important
    @media mq-normal
        display: flex !important

body header .sp
    display: flex !important
    @media mq-normal
        display: none !important

body.pushable > .pusher
    background: inherit
    display: flex
    min-height: 100vh
    flex-direction: column
    
    main
        flex: 1

.ui.sidebar.menu .item
    will-change: transform

.sidebar.menu .logo.image,
.ui.menu .logo.image
    width: 35px
    margin-right: 1em

.main.container
    margin-top: 6em

// Index
.index-content
    text-align: center
    
    .image
        margin-bottom: 2em
    .main-text
        font-weight: bold

pre
    display: block
    font-family: monospace
    white-space: pre-wrap
    overflow-wrap: break-word
    margin: 1em 0
    color: #fff
    width: 100%

.visibility-hidden
    visibility: hidden

.card
    span:hover,
    a:hover
        .icon.discord
                color: color-discord
        .icon.twitter
                color: color-twitter
        .icon.youtube
                color: color-youtube
        .icon.twitch
                color: color-twitch
        .icon.github
                color: color-github

#players > .card > .image
    overflow: hidden
    width: 100%
    
    &::before
        content: ''
        float: left
        padding-top: 100%
    &::after
        content: ''
        clear: both
    img
        float: left
        min-width: 100%
        min-height: 100%
        transform: translate(-50%, -50%)
        position: absolute
        left: 50%
        top: 50%

.team-flag
    width: 32px
    height: 32px

.first-place-records
    color: #f9a602

#teamz-results-container
    .highlight .content
        -webkit-box-shadow: teamz-winner-card-shadow
        box-shadow: teamz-winner-card-shadow
    .captain
        color: #fe713f
    table
        -webkit-border-horizontal-spacing: 15px;

// Fomantic UI Checkbox vertical alignment fix
.ui.segment .ui.checkbox
    margin-top: 0.7rem

// Fomantic UI Accordion inverted styled
.ui .styled.inverted.accordion
    background: #1B1C1D;
    color: rgba(255, 255, 255, 0.9);

// Fomantic UI tab inverted style
.ui.inverted.tabular.menu
    border-bottom: 1px solid #555555;
    .item:hover
        color: rgba(255, 255, 255, 0.9);
    .active.item
        background-color: transparent;
        border-color: #555555;
        border-bottom: 1px solid rgb(27, 28, 29);
        margin-bottom: -1px;

// Fomantic UI calendar inverted input style
.ui.inverted.calendar
    
    .input
        width: 100%;
        input
            background-color: transparent;
            border: 1px solid rgba(255, 255, 255, 0.15);
            color: rgba(255, 255, 255, 0.9);
            
            &:hover
                border-color: rgba(255, 255, 255, 0.25);
            
        .icon
            color: white;

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
