<div class="index-content">
    <div class="ui small image">
        <%- image_tag('images/logo.png', {class: ''}) %>
    </div>
    <p class="main-text">
        <span class="ui inverted big grey text">A culmination of Vanilla, Gamecube, 2014, and Ultima PSO TA information</span>
    </p>
    <p class="sub-text">
        <span class="ui inverted large grey text">A PSV Project</span>
    </p>
    <div class="ui big image">
        <%- image_tag('images/homepage.png', {class: ''}) %>
    </div>
</div>
