<div class="ui segments">
    <div class="ui inverted segment">
        <h3>Sites</h3>
        <ul>
            <li>
                Time Attack Pages
                <ul>
                    
                </ul>
            </li>
        </ul>
        <ul>
            <li>
                Statistics
                <ul>
                   
                </ul>
            </li>
        </ul>
        <ul>
            <li>
                Developement
                <ul>

                </ul>
            </li>
        </ul>
        <ul>
            <li>
                Common Wikis
                <ul>
                    <li><a href="https://psu-clementine.net/wiki/index.php/Main_Page">Clementine Wiki</a></li>
                    <li><a href="http://psupedia.info/Main_Page.html">PSUPedia</a></li>
                    <li><a href="http://spoiler.sakura.ne.jp/rr/psu/index.php?TOP">JP Wiki</a></li>
                </ul>
            </li>
        </ul>
        <ul>
            <li>
                Forums
                <ul>
                    <li><a href="https://psu-clementine.net/community/index.php">Clemetine Forums</a></li>
                    <li><a href="http://www.pso-world.com/forums/forumdisplay.php?26-PSU-General">PSOWORLD Forums</a></li>
                </ul>
            </li>
        </ul>
        <ul>
            <li>
                Lore
                <ul>

                </ul>
            </li>
        </ul>
        <ul>
        </ul>
    </div>
</div>
