<div class="ui segments">
    <div class="ui inverted segment">
        <h3>Sites</h3>
        <ul>
            <li>
                Time Attack Pages
                <ul>
                    <li><a href="https://saarian-j.webs.com/">Johnsens Blog</a></li>
                    <li><a href="https://cubepso.web.fc2.com/">GC TA Site</a></li>
                    <li><a href="http://plant.koyuria.org/wiki/">GC CM TA Site</a></li>
                    <li><a href="http://www.ocn1.net/game/pso/pso_mguide.htm">CM TA Site</a></li>
                </ul>
            </li>
        </ul>
        <ul>
            <li>
                Statistics
                <ul>
                    <li><a href="https://sites.google.com/view/psobb/home">PSOBB Resources and Guides</a></li>
                    <li><a href="http://web.archive.org/web/20180207184851/http://www.freewebs.com/azurepso/psostatistics.htm">Azure PSO Statistics</a></li>
                    <li><a href="https://docs.google.com/spreadsheets/d/1Bde7ILjY2jtb3jMWAfUpXpFYFK6doxPMhH9SJSnx0nc/pubhtml">Set Damage Attacks</a></li>
                    <li><a href="https://docs.google.com/spreadsheets/d/e/2PACX-1vSVzVw0diiN8zEiqVdaR8WUmNaYD1Oo0WV3G9sZAfLVAYmBPW3zMKuYNhHCwwmN9iacxoV3CShyKREx/pubhtml">Ledge Drops</a></li>
                    <li><a href="http://web.archive.org/web/20060420172915/http://romain.bernardi.free.fr/pso/">Bernardi Documentation</a> (I'll do something with this stuff maybe.)</li>
                    <li><a href="http://z.purei.org/psocalc.php">Hit Calculator</a> (Not accurate)</li>
                </ul>
            </li>
        </ul>
        <ul>
            <li>
                Developement
                <ul>
                    <li><a href="http://sharnoth.com/psodevwiki/">Dev Wiki</a></li>
                    <li><a href="https://sylverant.net/wiki/index.php/Category:PSO_Server_Protocol">Server Packets</a></li>
                    <li><a href="https://qedit.info/index.php?title=Main_Page">Qedit Info</a></li>
                    <li><a href="https://www.phantasmal.world/#/quest_editor">Phantasmal World Quest Editor</a></li>
                </ul>
            </li>
        </ul>
        <ul>
            <li>
                Common Wikis
                <ul>
                    <li><a href="http://wiki.pioneer2.net/index.php?title=Main_Page">Vanilla PSOBB Wiki</a></li>
                    <li><a href="https://gc.schtserv.info/wiki/Main_Page">Schthack GC Wiki</a></li>
                    <li><a href="http://legacywiki.schtserv.com/home.php">Legacy Schthack Wiki</a></li>
                    <li><a href="https://www.phantasystaronline.net/forum/index.php?/wiki/items/">Ultima Wiki</a></li>
                    <li><a href="https://phantasystar.fandom.com/wiki/Main_Page">Phantasy Star Wiki</a></li>
                </ul>
            </li>
        </ul>
        <ul>
            <li>
                Forums
                <ul>
                    <li><a href="https://www.phantasystaronline.net/forum/">Ultima Forums</a></li>
                    <li><a href="https://schtserv.com/forums/">Schthack Forums</a></li>
                    <li><a href="http://forum.edenserv.net/">Eden Forums</a></li>
                    <li><a href="https://playpso.net/forums/">Destiny Forums</a></li>
                    <li><a href="http://legitspso.forumotion.com/">Legits Forums</a></li>
                    <li><a href="http://andyc.dyndns.org/">SelurLatem Site</a></li>
                    <li><a href="http://dcemulation.org/phpBB/viewforum.php?f=75">Sylverant Forums</a></li>
                    <li><a href="http://psopalace.forumotion.com/">PSO PALACE Forums</a></li>
                    <li><a href="http://www.ragol.co.uk/forums/">Ragol Forums</a></li>
                    <li><a href="http://www.pso-world.com/">PSO World</a></li>
                    <li><a href="https://www.pioneer2.net/community/">Ephinea Forums</a></li>
                </ul>
            </li>
        </ul>
        <ul>
            <li>
                Lore
                <ul>
                    <li><a href="http://psodrama.sharnoth.com/">PSO Drama</a></li>
                    <li><a href="http://www.pscave.com/">PS Cave</a></li>
                    <li><a href="www.phantasy-star.net">Phantasy-Star</a></li>
                    <li><a href="www.psalgo.com">PS Algo</a></li>
                </ul>
            </li>
        </ul>
        <ul>
        </ul>
    </div>
</div>
