<div class="ui segments">
    <div class="ui inverted segment">
        <h3>Sites</h3>
        <ul>
            <li>
                Time Attack Pages
                <ul>

                </ul>
            </li>
        </ul>
        <ul>
            <li>
                Statistics
                <ul>
                   
                </ul>
            </li>
        </ul>
        <ul>
            <li>
                Developement
                <ul>

                </ul>
            </li>
        </ul>
        <ul>
            <li>
                Common Wikis
                <ul>

                </ul>
            </li>
        </ul>
        <ul>
            <li>
                Forums
                <ul>

                </ul>
            </li>
        </ul>
        <ul>
            <li>
                Lore
                <ul>

                </ul>
            </li>
        </ul>
        <ul>
        </ul>
    </div>
</div>
