<div class="ui segments">
    <div class="ui inverted segment">
        <div id="players" class="ui inverted link four cards">
            <!--
                <div class="card">
                    <div class="image">
                        <img src="https://via.placeholder.com/800x800?text=Player+image">
                    </div>
                    <div class="content">
                        <div class="header">Player name</div>
                        <div class="meta">
                            <span>Something else</span>
                        </div>
                        <div class="description">
                            Some short text about the player
                        </div>
                    </div>
                    <div class="extra content">
                        <span>
                            <i class="icon twitch"></i>
                            Twitch
                        </span>
                        <br />
                        <span>
                            <i class="icon discord"></i>
                            Discord
                        </span>
                        <br />
                        <span>
                            <i class="icon youtube"></i>
                            Youtube
                        </span>
                        <br />
                        <span>
                            <i class="icon twitter"></i>
                            Twitter
                        </span>
                        <br />
                    </div>
                </div>
            -->
        </div>
    </div>
</div>
<%- js('js/players.js') %>
