<div class="ui segments">
    <div class="ui inverted segment">
        <div class="ui accordion">
            <div class="title">
                <i class="inverted dropdown icon"></i>
                <span class="ui inverted grey text"><b>Normal Mode Rules</b></span>
            </div>
            <div class="content">
                <ul>
                    <li>
                        The in-game timer is used for timing each quest. Time starts when the in-game timer is activated and ends at the last meaningful input.
                        This means the published time is when either the final monster is defeated, a text message is displayed signifying the conclusion of the quest,
                        or manually deactivating the timer at a terminal.
                    </li>
                    <li>
                        Any exploits, such as, defeating monsters or spawning them before the timer starts are not allowed.
                    </li>
                    <li>
                        Runs must begin with 5 or less PB built.
                    </li>
                    <li>
                        Once the quest has started the whole party must complete the quest together. No one is to leave the game room before Dark Falz to manipulate
                        Darvant waves. No one is to join the game while the quest is in progress.
                    </li>
                    <li>
                        In the 4-Player PB Combo category the players are to start with a 4-Player PB combo for Lv 81 Shifta/Deband before the quest has started.
                        If the quest lasts longer than the S/D from the PB combo then the players may do another PB combo on quest progress, but not required if they
                        choose not to do so. Note that even though it requires 4 players to perform the PB combo before the quest any number of players can start the
                        quest together if a lower number of players is more beneficial, such as in TTF.
                    </li>
                    <li>
                        In the 2-Player category the highest level of S/D allowed on the characters is Lv 41 from a 2-Player PB combo. Using a PB combo is not
                        required if the players choose not to do so. Additionally, the 2 players must be in the first and second character game slots. This is to prevent
                        any manipulation on where each player is positioned at the start of each area.</li>
                    <li>
                        In the two 1-Player categories the highest level of S/D allowed on the character is Lv 21 from a 1-Player PB as a Hunter or Ranger character,
                        or Lv 30 as a Force character. Using a PB is not required if the player chooses not to do so. Additionally, the player must be in the first character
                        game slot. This is to prevent any manipulation on where the player is positioned at the start of each area.
                    </li>
                </ul>
            </div>
            <div class="title">
                <i class="inverted dropdown icon"></i>
                <span class="ui inverted grey text"><b>Gear Restrictions</b></span>
            </div>
            <div class="content">
                <ul>
                    <li>
                        Regardless the server you are playing on in general the following restrictions on gear unless otherwise stated are: non-enemy part weapons up to 100h and 100 attributes and
                        enemy part weapons 50h and 100 attributes. Weapons with kill counters like TJS or Excalibur can only have 2 attributes with 100.
                    </li>
                    <li>
                        If you are playing on Unseen the following restrictions must be followed in 2014: non-enemy part weapons up to 100h and 100 attributes except
                        Rainbow 24h, Empress 39h, Inferno Claw 61h, Doom Bringer 60h, Sigurd's Staff 98h. Enemy part weapons capped at 50h and 100 attributes except for
                        Bringers Rifle @60h, S-Beats Blade @72h, and Gal Wind @66h on 2014.
                    </li>
                    <li>
                        If you are playing on Ephinea the following items are not allowed in submissions: Clio on HUnewearl, Elenor on fleshies, Devil's & Angel's Wing on
                        androids, Cat & Bunny Ears on males, hit Lollipop, hit Izmaela, hit Raikiri, hit Huge Battle Fan, hit Kunai, hit Daisy Chain, hit Two Kamui, hit
                        Girasole, hit Rambling May and Type weapons with specials, e.g. Charge TypeME/Mechgun 40H.
                    </li>
                    <li>
                        If you are playing on Ultima there's almost no restrictions. Weapons with kill counters CAN have 100 in 3 attributes. Enemy part weapons can
                        have 100h. Any weapon without a special naturally may have one. The following weapons are not allowed in submissions: Dark Meteor Storm, Dens Hand
                        Cannon, Frostys Icicle Shooter, Captain Combat, Rainbow Petrik, and STARS Needle.
                    </li>
                    <li>
                        If you are playing on Gamecube everything 100h and 100 attributes.
                    </li>
                </ul>
            </div>
            <div class="title">
                <i class="inverted dropdown icon"></i>
                <span class="ui inverted grey text"><b>Challenge Mode Rules</b></span>
            </div>
            <div class="content">
                <ul>
                    <li>In the 4-Player category reach the end of the stage. There are no additional restrictions.</li>
                    <li>In the 2-Player category since the team is limited to 2 players during the entire course of the game a third or fourth player cannot start with
                    the original 2 players and drop items. Additionally, the 2 players must be in the first and second character game slots. This is to prevent
                    skipping rooms in stages where the order of the characters is a factor, such as, 2C4.</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="ui hidden divider"></div>
    <div class="ui inverted segment stackable grid aligned">
        <div class="three column row">
            <div class="column">
                <label>Mode</label>
                <div id="modes" class="ui inverted fluid multiple selection dropdown">
                    <div class="text"></div>
                    <i class="dropdown icon"></i>
                </div>
            </div>
            <div class="column">
                <label>Meta</label>
                <div id="metas" class="ui inverted fluid multiple selection dropdown">
                    <div class="text"></div>
                    <i class="dropdown icon"></i>
                </div>
            </div>
            
            <div class="column">
                <label>Episode</label>
                <div id="episodes" class="ui inverted fluid multiple selection dropdown">
                    <div class="text"></div>
                    <i class="dropdown icon"></i>
                </div>
            </div>
        </div>
        <div class="two column row">
            <div class="column">
                <label>Category</label>
                <div id="categories" class="ui inverted fluid multiple selection dropdown">
                    <div class="text"></div>
                    <i class="dropdown icon"></i>
                </div>
            </div>
            <div class="column">
                <label>Photon Blast</label>
                <div id="photon_blasts" class="ui inverted fluid multiple selection dropdown">
                    <div class="text"></div>
                    <i class="dropdown icon"></i>
                </div>
            </div>
        </div>
        <div class="two column row">
            <div class="column">
                <label>Players</label>
                <div id="players" class="ui inverted fluid multiple search selection dropdown columned" data-max-columns="2">
                    <div class="text"></div>
                    <i class="dropdown icon"></i>
                </div>
            </div>
            <div class="column">
                <label>Classes</label>
                <div id="classes" class="ui inverted fluid multiple selection dropdown columned" data-max-columns="2">
                    <div class="text"></div>
                    <i class="dropdown icon"></i>
                </div>
            </div>
        </div>
        <div class="two column row">
            <div class="column">
                <label>Teams</label>
                <div id="teams" class="ui inverted fluid multiple search selection dropdown columned" data-max-columns="2">
                    <div class="text"></div>
                    <i class="dropdown icon"></i>
                </div>
            </div>
            <div class="column">
                <label>Quests</label>
                <div id="quests" class="ui inverted fluid multiple search selection dropdown columned" data-max-columns="2">
                    <div class="text"></div>
                    <i class="dropdown icon"></i>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <button class="ui inverted button" id="search">Search</button>
            </div>
        </div>
    </div>
    <div class="ui hidden divider"></div>
    <div class="ui inverted segment" id="results"></div>
</div>
<%- js('js/time-attack-records.js') %>
