<div class="ui segments">
    <div class="ui inverted segment">
        <div class="ui accordion">
            <div class="title">
                <i class="inverted dropdown icon"></i>
                <span class="ui inverted grey text"><b>Normal Mode Rules</b></span>
            </div>
            <div class="content">
                <ul>
                    <li>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="ui hidden divider"></div>
    <div class="ui inverted segment stackable grid aligned">
        <div class="three column row">
            <div class="column">
                <label>Mode</label>
                <div id="modes" class="ui inverted fluid multiple selection dropdown">
                    <div class="text"></div>
                    <i class="dropdown icon"></i>
                </div>
            </div>
            <div class="column">
                <label>Meta</label>
                <div id="metas" class="ui inverted fluid multiple selection dropdown">
                    <div class="text"></div>
                    <i class="dropdown icon"></i>
                </div>
            </div>
            
            <div class="column">
                <label>Planet</label>
                <div id="planets" class="ui inverted fluid multiple selection dropdown">
                    <div class="text"></div>
                    <i class="dropdown icon"></i>
                </div>
            </div>
        </div>
        <div class="two column row">
            <div class="column">
                <label>Rank</label>
                <div id="ranks" class="ui inverted fluid multiple selection dropdown">
                    <div class="text"></div>
                    <i class="dropdown icon"></i>
                </div>
            </div>
            <div class="column">
                <label>Date</label>
                <div class="ui inverted calendar date" id="date">
                    <div class="ui input left icon">
                      <i class="calendar icon"></i>
                      <input type="text">
                    </div>
                </div>
            </div>
        </div>
        <div class="two column row">
            <div class="column">
                <label>Category</label>
                <div id="categories" class="ui inverted fluid multiple selection dropdown">
                    <div class="text"></div>
                    <i class="dropdown icon"></i>
                </div>
            </div>
            <div class="column">
                <label>Players</label>
                <div id="players" class="ui inverted fluid multiple search selection dropdown columned" data-max-columns="2">
                    <div class="text"></div>
                    <i class="dropdown icon"></i>
                </div>
            </div>
        </div>
        <div class="two column row">
            <div class="column">
                <label>Races</label>
                <div id="races" class="ui inverted fluid multiple selection dropdown columned" data-max-columns="2">
                    <div class="text"></div>
                    <i class="dropdown icon"></i>
                </div>
            </div>
            <div class="column">
                <label>Classes</label>
                <div id="classes" class="ui inverted fluid multiple selection dropdown columned" data-max-columns="2">
                    <div class="text"></div>
                    <i class="dropdown icon"></i>
                </div>
            </div>
        </div>
        <div class="two column row">
            <div class="column">
                <label>Teams</label>
                <div id="teams" class="ui inverted fluid multiple search selection dropdown columned" data-max-columns="2">
                    <div class="text"></div>
                    <i class="dropdown icon"></i>
                </div>
            </div>
            <div class="column">
                <label>Quests</label>
                <div id="quests" class="ui inverted fluid multiple search selection dropdown columned" data-max-columns="2">
                    <div class="text"></div>
                    <i class="dropdown icon"></i>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <button class="ui inverted button" id="search">Search</button>
            </div>
        </div>
    </div>
    <div class="ui hidden divider"></div>
    <div class="ui inverted segment" id="results"></div>
</div>
<%- js('js/time-attack-records.js') %>
