<div class="ui segments">
    <div class="ui inverted segment">
        <h3>What is "Frame 1"?</h3>
        <p>

        </p>
        <h3>More About Frame 1</h3>
        <p>

        </p>
    </div>
    <div class="ui hidden divider"></div>
    <div class="ui inverted segment">
        <table class="ui inverted celled table">
            <thead>
                <tr>
                    <th>Monster</th>
                    <th>F1 Possible?</th>
                    <th>Proof</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td data-label="monster">Gulgus/Gulgus-Gue</td>
                    <td data-label="f1-possible">Unknown</td>
                    <td data-label="proof"></td>
                </tr>
                <tr>
                    <td data-label="monster">Bartle/Barble/Tollaw</td>
                    <td data-label="f1-possible">Unknown</td>
                    <td data-label="proof"></td>
                </tr>
                <tr>
                    <td data-label="monster">Mothvist</td>
                    <td data-label="f1-possible">Unknown</td>
                    <td data-label="proof"></td>
                </tr>
                <tr>
                    <td data-label="monster">Hildelt</td>
                    <td data-label="f1-possible">Yes</td>
                    <td data-label="proof"><a href="https://youtu.be/d3aBoVAxYIo?t=22">Zen Double Hilde F1</a></td>
                </tr>
                <tr>
                    <td data-label="monster">Vulmer/Govulmer/Melqueek</td>
                    <td data-label="f1-possible">Yes</td>
                    <td data-label="proof"><a href="https://www.youtube.com/watch?v=16LSMpwAcCA&feature=youtu.be">Ender testing in a quest with a 17 frame window.</a></td>
                </tr>
                <tr>
                    <td data-label="monster">Ob Lily</td>
                    <td data-label="f1-possible">No</td>
                    <td data-label="proof"></td>
                </tr>
                <tr>
                    <td data-label="monster">Nano Dragon</td>
                    <td data-label="f1-possible">No</td>
                    <td data-label="proof"></td>
                </tr>
                <tr>
                    <td data-label="monster">Pan Arms</td>
                    <td data-label="f1-possible">No</td>
                    <td data-label="proof"><a href="https://www.youtube.com/watch?v=RiNlLznBsnw&feature=youtu.be&t=24s">NoHits analysis of Pan Arms.</a></td>
                </tr>
                <tr>
                    <td data-label="monster">Crimson Assassin</td>
                    <td data-label="f1-possible">Unknown</td>
                    <td data-label="proof"></td>
                </tr>
                <tr>
                    <td data-label="monster">Gillchic/Dubchic</td>
                    <td data-label="f1-possible">Yes</td>
                    <td data-label="proof"><a href="https://www.youtube.com/watch?v=I-TVOInEVLQ&feature=youtu.be&t=77">Ender testing in a quest with a 17 frame window.</a></td>
                </tr>
                <tr>
                    <td data-label="monster">Canabin</td>
                    <td data-label="f1-possible">No</td>
                    <td data-label="proof"><a href="https://www.youtube.com/watch?v=_3iBLJL1b9s&feature=youtu.be&t=43s">NoHits analysis of Canabins</a></td>
                </tr>
                <tr>
                    <td data-label="monster">Sinow Blue/Sinow Red</td>
                    <td data-label="f1-possible">No</td>
                    <td data-label="proof"><a href="https://www.youtube.com/watch?v=_3iBLJL1b9s&feature=youtu.be&t=27s">NoHits analysis of Sinows.</a></td>
                </tr>
                <tr>
                    <td data-label="monster">Baranz</td>
                    <td data-label="f1-possible">Yes</td>
                    <td data-label="proof"><a href="https://youtu.be/_3iBLJL1b9s?t=7">NoHits analysis of Baranz.</a></td>
                </tr>
                <tr>
                    <td data-label="monster">Arlan/Merlan/Del-D</td>
                    <td data-label="f1-possible">Yes</td>
                    <td data-label="proof"></td>
                </tr>
                <tr>
                    <td data-label="monster">Claw</td>
                    <td data-label="f1-possible">Yes</td>
                    <td data-label="proof"><a href="https://www.youtube.com/watch?v=xXWbTq6p2MI&feature=youtu.be">Ender testing in a quest with a 17 frame window.</a></td>
                </tr>
                <tr>
                    <td data-label="monster">Bulclaw</td>
                    <td data-label="f1-possible">Yes</td>
                    <td data-label="proof"><a href="https://youtu.be/D_HydiknGmw?t=5">NoHits analysis of Bulcaws.</a></td>
                </tr>
                <tr>
                    <td data-label="monster">Delsaber</td>
                    <td data-label="f1-possible">No</td>
                    <td data-label="proof"><a href="https://www.youtube.com/watch?v=RiNlLznBsnw&feature=youtu.be&t=40s">NoHits analysis of Delsabers.</a></td>
                </tr>
                <tr>
                    <td data-label="monster">Gran Sorcerer</td>
                    <td data-label="f1-possible">No</td>
                    <td data-label="proof"></td>
                </tr>
                <tr>
                    <td data-label="monster">Indi Belra</td>
                    <td data-label="f1-possible">No</td>
                    <td data-label="proof"><a href="https://www.youtube.com/watch?v=RiNlLznBsnw">NoHits analysis of Berlas.</a></td>
                </tr>
                <tr>
                    <td data-label="monster">Dark Gunner</td>
                    <td data-label="f1-possible">No</td>
                    <td data-label="proof"></td>
                </tr>
                <tr>
                    <td data-label="monster">Dark Bringer</td>
                    <td data-label="f1-possible">No</td>
                    <td data-label="proof"></td>
                </tr>
                <tr>
                    <td data-label="monster">Merillia/Meriltas</td>
                    <td data-label="f1-possible">Unknown</td>
                    <td data-label="proof"></td>
                </tr>
                <tr>
                    <td data-label="monster">Gee</td>
                    <td data-label="f1-possible">Unknown</td>
                    <td data-label="proof"></td>
                </tr>
                <tr>
                    <td data-label="monster">Ul Gibbon/Zol Gibbon</td>
                    <td data-label="f1-possible">Unknown</td>
                    <td data-label="proof"></td>
                </tr>
                <tr>
                    <td data-label="monster">Sinow Berill/Sinow Spigell</td>
                    <td data-label="f1-possible">Unknown</td>
                    <td data-label="proof"></td>
                </tr>
                <tr>
                    <td data-label="monster">Gibbles</td>
                    <td data-label="f1-possible">Unknown</td>
                    <td data-label="proof"></td>
                </tr>
                <tr>
                    <td data-label="monster">Mericarol/Merikle/Mericus</td>
                    <td data-label="f1-possible">No</td>
                    <td data-label="proof"><a href="https://files.catbox.moe/icmgzr.mp4">NoHits analysis of Meris.</a></td>
                </tr>
                <tr>
                    <td data-label="monster">Dolmolm/Dolmdarl</td>
                    <td data-label="f1-possible">Unknown</td>
                    <td data-label="proof"><a href="https://www.youtube.com/watch?v=oJwNHbbr0ek&feature=emb_logo">Ender did it with a Frozen Shooter, doesn't confirm it for Dark Flow.</a></td>
                </tr>
                <tr>
                    <td data-label="monster">Sinow Zoa/Sinow Zele</td>
                    <td data-label="f1-possible">Unknown</td>
                    <td data-label="proof"></td>
                </tr>
                <tr>
                    <td data-label="monster">Morfos</td>
                    <td data-label="f1-possible">Unknown</td>
                    <td data-label="proof"></td>
                </tr>
                <tr>
                    <td data-label="monster">Deldepth</td>
                    <td data-label="f1-possible">Unknown</td>
                    <td data-label="proof"></td>
                </tr>
                <tr>
                    <td data-label="monster">Recobox</td>
                    <td data-label="f1-possible">Unknown</td>
                    <td data-label="proof"></td>
                </tr>
                <tr>
                    <td data-label="monster">Delbiter</td>
                    <td data-label="f1-possible">Unknown</td>
                    <td data-label="proof"></td>
                </tr>
                <tr>
                    <td data-label="monster">Del Lily</td>
                    <td data-label="f1-possible">Unknown</td>
                    <td data-label="proof"></td>
                </tr>
                <tr>
                    <td data-label="monster">Ill Gill</td>
                    <td data-label="f1-possible">Unknown</td>
                    <td data-label="proof"></td>
                </tr>
                <tr>
                    <td data-label="monster">Epsilon</td>
                    <td data-label="f1-possible">Unknown</td>
                    <td data-label="proof"></td>
                </tr>
                <tr>
                    <td data-label="monster">Boota/Ze Boota/Ba Boota</td>
                    <td data-label="f1-possible">Unknown</td>
                    <td data-label="proof"></td>
                </tr>
                <tr>
                    <td data-label="monster">Astark</td>
                    <td data-label="f1-possible">Yes</td>
                    <td data-label="proof">No video, however NoHit and others have done it.</td>
                </tr>
                <tr>
                    <td data-label="monster">Dorphon</td>
                    <td data-label="f1-possible">Unknown</td>
                    <td data-label="proof"></td>
                </tr>
                <tr>
                    <td data-label="monster">Goran/Pyro Goran/Goran Detonator</td>
                    <td data-label="f1-possible">Unknown</td>
                    <td data-label="proof"></td>
                </tr>
                <tr>
                    <td data-label="monster">Merissa A</td>
                    <td data-label="f1-possible">Unknown</td>
                    <td data-label="proof"></td>
                </tr>
                <tr>
                    <td data-label="monster">Girtablulu</td>
                    <td data-label="f1-possible">Unknown</td>
                    <td data-label="proof"></td>
                </tr>
             </tbody>
        </table>
    </div>
    <br>
</div>
