<div class="ui segments">
    <div class="ui inverted segment">
        <h3>How the Table Works</h3>
            <p>
                The lists contain purely quests that people TA. If there are any missing let me know. The values for each warp are in the order of the quest progresses. 
                So for instance MA1C goes from Cave 2 -> Mines 2 -> Ruins 3 -> Dark Falz which has warp values of 4, 7, 10, 14.
            </p>
        <div class="ui inverted styled accordion">
            <div class="title">
                <i class="inverted dropdown icon"></i>
                <span class="ui inverted grey text"><b>Relevant Warp Values</b></span>
            </div>
            <div class="content">
                <div class="inverted styled accordion">
                    <div class="title">
                        <i class="inverted dropdown icon"></i>
                        <span class="ui inverted grey text"><b>Episode 1</b></span>
                    </div>
                    <div class="content">
                        <ul>
                            <li>
                                0 = Pioneer 2
                            </li>
                            <li>
                                1 = Forest 1
                            </li>
                            <li>
                                2 = Forest 2
                            </li>
                            <li>
                                3 = Caves 1
                            </li>
                            <li>
                                4 = Caves 2
                            </li>
                            <li>
                                5 = Caves 3
                            </li>
                            <li>
                                6 = Mines 1
                            </li>
                            <li>
                                7 = Mines 2
                            </li>
                            <li>
                                8 = Ruins 1
                            </li>
                            <li>
                                9 = Ruins 2
                            </li>
                            <li>
                                10 = Ruins 3
                            </li>
                            <li>
                                11 = Dragon
                            </li>
                            <li>
                                12 = De Rol Le
                            </li>
                            <li>
                                13 = Vol Opt
                            </li>
                            <li>
                                14 = Dark Falz Memorial
                            </li>
                            <li>
                                15 = ID Lobby
                            </li>
                            <li>
                                16 = Battle Spaceship
                            </li>
                            <li>
                                17 = Battle Palace
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="inverted styled accordion">
                    <div class="title">
                        <i class="inverted dropdown icon"></i>
                        <span class="ui inverted grey text"><b>Episode 2</b></span>
                    </div>
                    <div class="content">
                        <ul>
                            <li>
                                0 = Lab
                            </li>
                            <li>
                                1 = VR Temple α
                            </li>
                            <li>
                                2 = VR Temple β
                            </li>
                            <li>
                                3 = VR Spaceship α
                            </li>
                            <li>
                                4 = VR Spaceship β
                            </li>
                            <li>
                                5 = Central Control Area
                            </li>
                            <li>
                                6 = Jungle North
                            </li>
                            <li>
                                7 = Jungle East
                            </li>
                            <li>
                                8 = Mountain
                            </li>
                            <li>
                                9 = Seaside Day
                            </li>
                            <li>
                                10 = Seabed Upper
                            </li>
                            <li>
                                11 = Seabed Lower
                            </li>
                            <li>
                                12 = Gal Gryphon
                            </li>
                            <li>
                                13 = Olga Flow
                            </li>
                            <li>
                                14 = Barba Ray
                            </li>
                            <li>
                                15 = Gol Dragon
                            </li>
                            <li>
                                16 = Seaside Night
                            </li>
                            <li>
                                17 = Tower
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="inverted styled accordion">
                    <div class="title">
                        <i class="inverted dropdown icon"></i>
                        <span class="ui inverted grey text"><b>Episode 4</b></span>
                    </div>
                    <div class="content">
                        <ul>
                            <li>
                                0 = Pioneer 2
                            </li>
                            <li>
                                1 = Crater (Eastern Route)
                            </li>
                            <li>
                                2 = Crater (Western Route)
                            </li>
                            <li>
                                3 = Crater (Southern Route)
                            </li>
                            <li>
                                4 = Crater (Northern Route)
                            </li>
                            <li>
                                5 = Crater Interior
                            </li>
                            <li>
                                6 = Desert 1
                            </li>
                            <li>
                                7 = Desert 2
                            </li>
                            <li>
                                8 = Desert 3
                            </li>
                            <li>
                                9 = Saint Million / Shambertin
                            </li>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui hidden divider"></div>
    <div class="ui inverted segment">
        <table class="ui inverted celled table">
            <thead>
                <tr>
                    <th>E1   Quests</th>
                    <th>Warp Values</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td data-label="quest">MA1A</td>
                    <td data-label="warp-value">4, 7, 10</td>
                </tr>
                <tr>
                    <td data-label="quest">MA1B</td>
                    <td data-label="warp-value">4, 7, 10</td>
                </tr>
                <tr>
                    <td data-label="quest">MA1C</td>
                    <td data-label="warp-value">4, 7, 10, 14</td>
                </tr>
                <tr>
                    <td data-label="quest">MA1V2</td>
                    <td data-label="warp-value">2, 5, 6, 7</td>
                </tr>
                <tr>
                    <td data-label="quest">Max: E1</td>
                    <td data-label="warp-value">2, 4, 6, 10</td>
                </tr>
                <tr>
                    <td data-label="quest">Max: Forest</td>
                    <td data-label="warp-value">2</td>
                </tr>
                <tr>
                    <td data-label="quest">Max: Caves</td>
                    <td data-label="warp-value">4</td>
                </tr>
                <tr>
                    <td data-label="quest">Max: Mines</td>
                    <td data-label="warp-value">6</td>
                </tr>
                <tr>
                    <td data-label="quest">Max: Ruins</td>
                    <td data-label="warp-value">10</td>
                </tr>
                <tr>
                    <td data-label="quest">MU1</td>
                    <td data-label="warp-value">1</td>
                </tr>
                <tr>
                    <td data-label="quest">MU2</td>
                    <td data-label="warp-value">3</td>
                </tr>
                <tr>
                    <td data-label="quest">MU3</td>
                    <td data-label="warp-value">6</td>
                </tr>
                <tr>
                    <td data-label="quest">MU4</td>
                    <td data-label="warp-value">8</td>
                </tr>
                <tr>
                    <td data-label="quest">SU1</td>
                    <td data-label="warp-value">2</td>
                </tr>
                <tr>
                    <td data-label="quest">SU2</td>
                    <td data-label="warp-value">5</td>
                </tr>
                <tr>
                    <td data-label="quest">SU3</td>
                    <td data-label="warp-value">7</td>
                </tr>
                <tr>
                    <td data-label="quest">SU4</td>
                    <td data-label="warp-value">9</td>
                </tr>
                <tr>
                    <td data-label="quest">TTF</td>
                    <td data-label="warp-value">2, 11, 5, 12, 7, 13, 10, 14</td>
                </tr>
                <tr>
                    <td data-label="quest">CF1</td>
                    <td data-label="warp-value">4, 7, 10</td>
                </tr>
             </tbody>
        </table>
    </div>
    <div class="ui hidden divider"></div>
    <div class="ui inverted segment">
        <table class="ui inverted celled table">
            <thead>
                <tr>
                    <th>E2 Quest</th>
                    <th>Warp Values</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td data-label="quest">MA2A</td>
                    <td data-label="warp-value">5, 11</td>
                </tr>
                <tr>
                    <td data-label="quest">MA2B</td>
                    <td data-label="warp-value">5, 11</td>
                </tr>
                <tr>
                    <td data-label="quest">MA2C</td>
                    <td data-label="warp-value">5, 11, 17</td>
                </tr>
                <tr>
                    <td data-label="quest">MA2V2</td>
                    <td data-label="warp-value">2, 3, 5, 7, 6, 8, 9, 10, 17</td>
                </tr>
                <tr>
                    <td data-label="quest">Max: VR</td>
                    <td data-label="warp-value">1, 14, 3, 15</td>
                </tr>
                <tr>
                    <td data-label="quest">Max: GDV</td>
                    <td data-label="warp-value">5, 10, 17, 13 </td>
                </tr>
                <tr>
                    <td data-label="quest">Max: Temple</td>
                    <td data-label="warp-value">1</td>
                </tr>
                <tr>
                    <td data-label="quest">Max: Spaceship</td>
                    <td data-label="warp-value">3</td>
                </tr>
                <tr>
                    <td data-label="quest">Max: CCA</td>
                    <td data-label="warp-value">5</td>
                </tr>
                <tr>
                    <td data-label="quest">Max: Seabed</td>
                    <td data-label="warp-value">10</td>
                </tr>
                <tr>
                    <td data-label="quest">Max: Tower</td>
                    <td data-label="warp-value">17</td>
                </tr>
                <tr>
                    <td data-label="quest">SU5</td>
                    <td data-label="warp-value">1</td>
                </tr>
                <tr>
                    <td data-label="quest">SU6</td>
                    <td data-label="warp-value">3</td>
                </tr>
                <tr>
                    <td data-label="quest">SU7</td>
                    <td data-label="warp-value">7</td>
                </tr>
                <tr>
                    <td data-label="quest">SU8</td>
                    <td data-label="warp-value">10</td>
                </tr>
                <tr>
                    <td data-label="quest">SU9</td>
                    <td data-label="warp-value">17</td>
                </tr>
                <tr>
                    <td data-label="quest">MaU1</td>
                    <td data-label="warp-value">2</td>
                </tr>
                <tr>
                    <td data-label="quest">MaU2</td>
                    <td data-label="warp-value">3</td>
                </tr>
                <tr>
                    <td data-label="quest">MaU3</td>
                    <td data-label="warp-value">8</td>
                </tr>
                <tr>
                    <td data-label="quest">MaU4</td>
                    <td data-label="warp-value">10</td>
                </tr>
                <tr>
                    <td data-label="quest">MaU5</td>
                    <td data-label="warp-value">17</td>
                </tr>
                <tr>
                    <td data-label="quest">RT</td>
                    <td data-label="warp-value">1, 14, 3, 15, 9, 12, 11, 13, 17</td>
                </tr>
                <tr>
                    <td data-label="quest">CCC</td>
                    <td data-label="warp-value">1, 4, 6, 10, 17</td>
                </tr>
                <tr>
                    <td data-label="quest">CF2</td>
                    <td data-label="warp-value">4, 5, 11</td>
                </tr>
                <tr>
                    <td data-label="quest">RoCT</td>
                    <td data-label="warp-value">17, 13</td>
                </tr>
                <tr>
                    <td data-label="quest">PPP</td>
                    <td data-label="warp-value">5, 12</td>
                </tr>
             </tbody>
        </table>
    </div>
    <div class="ui hidden divider"></div>
    <div class="ui inverted segment">
        <table class="ui inverted celled table">
            <thead>
                <tr>
                    <th>E4 Quest</th>
                    <th>Warp Values</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td data-label="quest">MA4A</td>
                    <td data-label="warp-value">5, 8</td>
                </tr>
                <tr>
                    <td data-label="quest">MA4B</td>
                    <td data-label="warp-value">5, 8</td>
                </tr>
                <tr>
                    <td data-label="quest">MA4C</td>
                    <td data-label="warp-value">5, 8</td>
                </tr>
                <tr>
                    <td data-label="quest">Max: 4</td>
                    <td data-label="warp-value">2, 8, 9</td>
                </tr>
                <tr>
                    <td data-label="quest">Max: Crater</td>
                    <td data-label="warp-value">2</td>
                </tr>
                <tr>
                    <td data-label="quest">Max: Desert</td>
                    <td data-label="warp-value">8</td>
                </tr>
                <tr>
                    <td data-label="quest">NMU1</td>
                    <td data-label="warp-value">1</td>
                </tr>
                <tr>
                    <td data-label="quest">NMU2</td>
                    <td data-label="warp-value">5</td>
                </tr>
                <tr>
                    <td data-label="quest">NMU3</td>
                    <td data-label="warp-value">6</td>
                </tr>
                <tr>
                    <td data-label="quest">NMU4</td>
                    <td data-label="warp-value">7</td>
                </tr>
                <tr>
                    <td data-label="quest">NMU5</td>
                    <td data-label="warp-value">8</td>
                </tr>
                <tr>
                    <td data-label="quest">SU10</td>
                    <td data-label="warp-value"></td>
                </tr>
                <tr>
                    <td data-label="quest">SU11</td>
                    <td data-label="warp-value"></td>
                </tr>
                <tr>
                    <td data-label="quest">SU12</td>
                    <td data-label="warp-value"></td>
                </tr>
                <tr>
                    <td data-label="quest">SU13</td>
                    <td data-label="warp-value"></td>
                </tr>
                <tr>
                    <td data-label="quest">SU14</td>
                    <td data-label="warp-value"></td>
                </tr>
                <tr>
                    <td data-label="quest">RoW</td>
                    <td data-label="warp-value">1, 5, 6, 7, 8</td>
                </tr>
             </tbody>
        </table>
    </div>
</div>
<div class="ui hidden divider"></div>