<div class="ui segments">
    <div class="ui inverted segment">
        <h3>What is Sandbox?</h3>
        <p>
            Sandbox, often abbreviated by sb or SB, is playing PSO with items from one of the
            various item makers that are maxed. They still follow the limitations (unless
            otherwise specified like in the 2014 meta) of the game such as 50 hit on enemy weapons
            or 100% in  2 elemental attributes or 1 on weapons with kill counters. These items
            are achievable in normal play, but they require 1000s of hours and a lot of luck to
            get.
        </p>
        <h3>Why play Sandbox?</h3>
        <p>
            The entire purpose of time attack is to optimize a given quest to its highest
            potential. If you're playing normal mode your items simply will almost never be
            optimal for the current run. You can still do your best of course and plan around
            what your items will allow you to do. In sandbox you may plan around perfect weapons
            and the big perk here is hit. The more hit you have the higher chance your weapons have of
            passing ATA checks. This reduces RNG by making attacks/combos more consistent. Players are all
            equal in their gear and  must display their ability to plan and execute a quest rather.
        </p>
    </div>
</div>
