<div class="ui segments">
    <div class="ui inverted segment">
        <h3>What is Sandbox?</h3>
        <p>
            Sandbox, often abbreviated by sb or SB, is playing PSU with items from one of the
            various item makers that are maxed. They still follow the limitations of the game 
            such as 10/10 grind or 50% in 1 elemental attribute. These items are achievable in 
            normal play, but they require 1000s of hours and a lot of luck to get.
        </p>
        <h3>Why play Sandbox?</h3>
        <p>
            The entire purpose of time attack is to optimize a given quest to its highest
            potential. If you're playing normal mode your items simply will almost never be
            optimal for the current run. You can still do your best of course and plan around
            what your items will allow you to do. In sandbox you may plan around perfect weapons.
            In a sandbox setting all players are equal in their gear and  must display their ability
            to plan, execute, and grind a quest rather than havingt "op" gear.
        </p>
    </div>
</div>
