<div class="ui segments">
    <div class="ui inverted segment">
        <table class="ui inverted celled table">
            <thead>
                <tr>
                    <th>EP 1 Monsters</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td data-label="monster">Hildebear/Hildeblue Jump</td>
                    <td data-label="damage">300</td>
                    <td data-label="monster">Gillchic Laser</td>
                    <td data-label="damage">420</td>
                </tr>
                <tr>
                    <td data-label="monster">Hildebear/Hildeblue Drop</td>
                    <td data-label="damage">5</td>
                    <td data-label="monster">Baranz Missile</td>
                    <td data-label="damage">250</td>
                </tr>
                <tr>
                    <td data-label="monster">Hildebear Gizonde</td>
                    <td data-label="damage">136</td>
                    <td data-label="monster">Baranz Mine</td>
                    <td data-label="damage">480</td>
                </tr>
                <tr>
                    <td data-label="monster">Nano Dragon Tube</td>
                    <td data-label="damage">360</td>
                    <td data-label="monster">Bulc Acid Sting</td>
                    <td data-label="damage">1</td>
                </tr>
                <tr>
                    <td data-label="monster">Nano Dragon Beam</td>
                    <td data-label="damage">400</td>
                    <td data-label="monster">Bringer Rush</td>
                    <td data-label="damage">700</td>
                </tr>
                <tr>
                    <td data-label="monster">Slime Spit/Tail</td>
                    <td data-label="damage">279</td>
                    <td data-label="monster">Bringer Rifle</td>
                    <td data-label="damage">700</td>
                </tr>
                <tr>
                    <td data-label="monster">Pan Arms Laser (Red)</td>
                    <td data-label="damage">420</td>
                    <td data-label="monster">Bringer Rifle (TP)</td>
                    <td data-label="damage">1400</td>
                </tr>
                <tr>
                    <td data-label="monster">Pan Arms Laser (Blue)</td>
                    <td data-label="damage">400</td>
                    <td data-label="monster">Sorcerer Grants</td>
                    <td data-label="damage">826</td>
                </tr>
                <tr>
                    <td data-label="monster">Hidoom Stab</td>
                    <td data-label="damage">420</td>
                    <td data-label="monster">Gunner Laser</td>
                    <td data-label="damage">400</td>
                </tr>
                <tr>
                    <td data-label="monster">Canane Aerial Shock</td>
                    <td data-label="damage">380</td>
                    <td data-label="monster"></td>
                    <td data-label="damage"></td>
                </tr>
                <tr>
                    <td data-label="monster">Canadine Aerial Shock</td>
                    <td data-label="damage">360</td>
                    <td data-label="monster"></td>
                    <td data-label="damage"></td>
                </tr>
                <tr>
                    <td data-label="monster">Dubchic Laser</td>
                    <td data-label="damage">400</td>
                    <td data-label="monster"></td>
                    <td data-label="damage"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="ui hidden divider"></div>
    <div class="ui inverted segment">
        <table class="ui inverted celled table">
            <thead>
                <tr>
                    <th>EP 1 Bosses</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td data-label="monster">Dragon Iceberg</td>
                    <td data-label="damage">173</td>
                    <td data-label="monster">Vol Opt Missile</td>
                    <td data-label="damage">570</td>
                </tr>
                <tr>
                    <td data-label="monster">Dragon Tunnel Rush</td>
                    <td data-label="damage">458</td>
                    <td data-label="monster">Vol Opt Trap</td>
                    <td data-label="damage">100 + 1500</td>
                </tr>
                <tr>
                    <td data-label="monster">Dragon Ground Frost Breath</td>
                    <td data-label="damage">334</td>
                    <td data-label="monster">Dark Falz Grants</td>
                    <td data-label="damage">611</td>
                </tr>
                <tr>
                    <td data-label="monster">Dragon Aerial Frost</td>
                    <td data-label="damage">260</td>
                    <td data-label="monster">Dark Falz 1 Rafoie</td>
                    <td data-label="damage">414</td>
                </tr>
                <tr>
                    <td data-label="monster">De Rol Le Mines</td>
                    <td data-label="damage">481</td>
                    <td data-label="monster">Dark Falz 2 Rafoie</td>
                    <td data-label="damage">444</td>
                </tr>
                <tr>
                    <td data-label="monster">De Rol Le Rock</td>
                    <td data-label="damage">447</td>
                    <td data-label="monster">Dark Falz 1 Rabarta</td>
                    <td data-label="damage">406</td>
                </tr>
                <tr>
                    <td data-label="monster">De Rol Le Orb</td>
                    <td data-label="damage">401</td>
                    <td data-label="monster">Dark Falz 2 Rabarta</td>
                    <td data-label="damage">436</td>
                </tr>
                <tr>
                    <td data-label="monster">De Rol Le Laser</td>
                    <td data-label="damage">581</td>
                    <td data-label="monster">Dark Falz 1 Divine Punishment</td>
                    <td data-label="damage">660</td>
                </tr>
                <tr>
                    <td data-label="monster">Vol Opt Foie</td>
                    <td data-label="damage">560</td>
                    <td data-label="monster">Dark Falz 2 Divine Punishment</td>
                    <td data-label="damage">690</td>
                </tr>
                <tr>
                    <td data-label="monster">Vol Opt Gizonde</td>
                    <td data-label="damage">414</td>
                    <td data-label="monster">Dark Falz 3 Swipe</td>
                    <td data-label="damage">812</td>
                </tr>
                <tr>
                    <td data-label="monster">Vol Opt Gibarta</td>
                    <td data-label="damage">432</td>
                    <td data-label="monster">Dark Falz 3 Orb</td>
                    <td data-label="damage">700</td>
                </tr>
                <tr>
                    <td data-label="monster">Vol Opt Crusher</td>
                    <td data-label="damage">700</td>
                    <td data-label="monster">Dark Falz 3 HP Drain</td>
                    <td data-label="damage">710</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="ui hidden divider"></div>
</div>
