<footer class="ui inverted vertical footer segment">
    <div class="ui center aligned container">
        <%- image_tag('images/logo.png', {class: 'ui centered mini image'}) %>
        <div class="ui horizontal small">
            Made with ♥ by <a href="https://github.com/Solybum/">Solybum</a>
        </div>
    </div>
</footer>
