<div class="ui segments">
    <div class="ui inverted segment">
        <div class="ui inverted top attached tabular menu">
            <div class="item active" data-tab="2">Season 2</div>
            <div class="item" data-tab="1">Season 1</div>
        </div>
        <div class="ui inverted bottom attached tab segment active" data-tab="1">
            <div class="ui inverted segment">
                <h3>Season 1 Rankings</h3>
                <p>

                </p>
            </div>
            <div class="ui hidden divider"></div>
            <table class="ui inverted celled table">
                <thead>
                    <tr>
                        <th>Rank</th>
                        <th>Player</th>
                        <th>Wins</th>
                        <th>Losses</th>
                        <th>Win Rate</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-label="rank">1.</td>
                        <td data-label="player"></td>
                        <td data-label="wins"></td>
                        <td data-label="losses"></td>
                        <td data-label="winrate"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="ui inverted bottom attached tab segment" data-tab="2">
            <div class="ui inverted segment">
                <h3>Season 2 Rankings</h3>
                <p>

                </p>
            </div>
            <div class="ui hidden divider"></div>
            <table class="ui inverted celled table">
                <thead>
                    <tr>
                        <th>Rank</th>
                        <th>Player</th>
                        <th>Wins</th>
                        <th>Losses</th>
                        <th>Win Rate</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-label="rank">1.</td>
                        <td data-label="player"></td>
                        <td data-label="wins"></td>
                        <td data-label="losses"></td>
                        <td data-label="winrate"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="ui hidden divider"></div>
