<div class="ui segments">
    <div class="ui inverted segment">
        <div class="ui inverted top attached tabular menu">
            <div class="item active" data-tab="2">Season 2</div>
            <div class="item" data-tab="1">Season 1</div>
        </div>
        <div class="ui inverted bottom attached tab segment active" data-tab="1">
            <div class="ui inverted segment">
                <h3>Season 1 Rankings</h3>
                <p>
                    These numbers are the results from Season 1 of T E A M Z which went from 03/27/2020 to 04/30/2020. A total of 30 rounds  were played. In order to be on the list you
                    need a minimum of 5 games played during the season. Your ranking is not an indicator of skill or experience level.
                </p>
            </div>
            <div class="ui hidden divider"></div>
            <table class="ui inverted celled table">
                <thead>
                    <tr>
                        <th>Rank</th>
                        <th>Player</th>
                        <th>Wins</th>
                        <th>Losses</th>
                        <th>Win Rate</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-label="rank">1.</td>
                        <td data-label="player">ReVisioN</td>
                        <td data-label="wins">12</td>
                        <td data-label="losses">4</td>
                        <td data-label="winrate">75.0%</td>
                    </tr>
                    <tr>
                        <td data-label="rank">2.</td>
                        <td data-label="player">NoHit</td>
                        <td data-label="wins">16</td>
                        <td data-label="losses">13</td>
                        <td data-label="winrate">55.2%</td>
                    </tr>
                    <tr>
                        <td data-label="rank">3.</td>
                        <td data-label="player">Killz</td>
                        <td data-label="wins">14</td>
                        <td data-label="losses">13</td>
                        <td data-label="winrate">51.9%</td>
                    </tr>
                    <tr>
                        <td data-label="rank">4.</td>
                        <td data-label="player">mt</td>
                        <td data-label="wins">15</td>
                        <td data-label="losses">15</td>
                        <td data-label="winrate">50.0%</td>
                    </tr>
                    <tr>
                        <td data-label="rank">5.</td>
                        <td data-label="player">Boom</td>
                        <td data-label="wins">3</td>
                        <td data-label="losses">3</td>
                        <td data-label="winrate">50.0%</td>
                    </tr>
                    <tr>
                        <td data-label="rank">6.</td>
                        <td data-label="player">phelix</td>
                        <td data-label="wins">10</td>
                        <td data-label="losses">11</td>
                        <td data-label="winrate">47.6%</td>
                    </tr>
                    <tr>
                        <td data-label="rank">7.</td>
                        <td data-label="player">Sange</td>
                        <td data-label="wins">9</td>
                        <td data-label="losses">10</td>
                        <td data-label="winrate">47.4%</td>
                    </tr>
                    <tr>
                        <td data-label="rank">8.</td>
                        <td data-label="player">NDW</td>
                        <td data-label="wins">5</td>
                        <td data-label="losses">7</td>
                        <td data-label="winrate">41.7%</td>
                    </tr>
                    <tr>
                        <td data-label="rank">9.</td>
                        <td data-label="player">Jack</td>
                        <td data-label="wins">4</td>
                        <td data-label="losses">6</td>
                        <td data-label="winrate">40.0%</td>
                    </tr>
                    <tr>
                        <td data-label="rank">10.</td>
                        <td data-label="player">Cameron</td>
                        <td data-label="wins">2</td>
                        <td data-label="losses">3</td>
                        <td data-label="winrate">40.0%</td>
                    </tr>
                    <tr>
                        <td data-label="rank">11.</td>
                        <td data-label="player">Wilson</td>
                        <td data-label="wins">8</td>
                        <td data-label="losses">18</td>
                        <td data-label="winrate">30.8%</td>
                    </tr>
                    <tr>
                        <td data-label="rank">12.</td>
                        <td data-label="player">Starlord</td>
                        <td data-label="wins">2</td>
                        <td data-label="losses">5</td>
                        <td data-label="winrate">28.6%</td>
                    </tr>
                    <tr>
                        <td data-label="rank">13.</td>
                        <td data-label="player">nemo</td>
                        <td data-label="wins">3</td>
                        <td data-label="losses">10</td>
                        <td data-label="winrate">23.1%</td>
                    </tr>
                    <tr>
                        <td data-label="rank">14.</td>
                        <td data-label="player">readth</td>
                        <td data-label="wins">1</td>
                        <td data-label="losses">4</td>
                        <td data-label="winrate">20.0%</td>
                    </tr>
                    <tr>
                        <td data-label="rank">15.</td>
                        <td data-label="player">500ryu</td>
                        <td data-label="wins">0</td>
                        <td data-label="losses">5</td>
                        <td data-label="winrate">00.0%</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="ui inverted bottom attached tab segment" data-tab="2">
            <div class="ui inverted segment">
                <h3>Season 2 Rankings</h3>
                <p>
                    These numbers are the results from Season 2 of T E A M Z which went from 05/15/2020 to 
                    current. In order to be on the list you need a minimum of 10 games played during the 
                    season. Your ranking is not an indicator of skill or experience level.
                </p>
            </div>
            <div class="ui hidden divider"></div>
            <table class="ui inverted celled table">
                <thead>
                    <tr>
                        <th>Rank</th>
                        <th>Player</th>
                        <th>Wins</th>
                        <th>Losses</th>
                        <th>Win Rate</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-label="rank">1.</td>
                        <td data-label="player">Killz</td>
                        <td data-label="wins">9</td>
                        <td data-label="losses">5</td>
                        <td data-label="winrate">62.3%</td>
                    </tr>
                    <tr>
                        <td data-label="rank">1.</td>
                        <td data-label="player">mt</td>
                        <td data-label="wins">9</td>
                        <td data-label="losses">5</td>
                        <td data-label="winrate">62.3%</td>
                    </tr>
                    <tr>
                        <td data-label="rank">3.</td>
                        <td data-label="player">Wilson</td>
                        <td data-label="wins">6</td>
                        <td data-label="losses">5</td>
                        <td data-label="winrate">54.5%</td>
                    </tr>
                    <tr>
                        <td data-label="rank">4.</td>
                        <td data-label="player">phelix</td>
                        <td data-label="wins">5</td>
                        <td data-label="losses">5</td>
                        <td data-label="winrate">50.0%</td>
                    </tr>
                    <tr>
                        <td data-label="rank">4.</td>
                        <td data-label="player">Sange</td>
                        <td data-label="wins">5</td>
                        <td data-label="losses">5</td>
                        <td data-label="winrate">50.0%</td>
                    </tr>   
                    <tr>
                        <td data-label="rank">6.</td>
                        <td data-label="player">NoHit</td>
                        <td data-label="wins">5</td>
                        <td data-label="losses">8</td>
                        <td data-label="winrate">38.5%</td>
                    </tr>
                    <tr>
                        <td data-label="rank">7.</td>
                        <td data-label="player">ReVisioN</td>
                        <td data-label="wins">3</td>
                        <td data-label="losses">7</td>
                        <td data-label="winrate">30.0%</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="ui hidden divider"></div>
