<div class="ui segments">
    <div class="ui inverted segment" id="teamz-seasons-container"></div>
    <div class="ui hidden divider"></div>
    <div class="ui inverted segment" id="teamz-results-container"></div>
</div>
<%- js('js/teamz-results.js') %>
